* {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.4;
}

a, a > span {
  font-weight: 400 !important;
}

h1 {
  font-size: 1.6em;
  font-weight: 300;
}
h2 {
  font-size: 1.4em;
}

h3,
h4,
h5 {
  font-size: 1.2em;
}

p + p {
  margin-top: 10px;
}

h1, h2, h3, h4, h5 {
  span {
    display: inline-block;
    vertical-align: middle;
  }
}
