.btn, button {
  -webkit-tap-highlight-color: transparent;
  color: white;
  border-radius: 999px !important;
  @include gradient-background-dg($color-primary, $color-accent);
  @include ease-wubble(0.25s);
  @include shadow-1;
  cursor: pointer;
  padding: 8px 18px !important;
  font-weight: 400;

  &::-moz-focus-inner {
    border: 0;
  }
  &:hover {
    @include shade-1;
  }
  &:active {
    transform: scale(0.98);
  }
  &:disabled {
    &:hover {
      transform: none;
    }
  }
}

.btn-round {
  border-radius: 1000px !important;
}

.btn-outline {
  background: transparent;
  border: 1.5px solid $color-primary;
  border-image-source: linear-gradient(to bottom right, $color-primary, $color-accent);
  border-image-slice: 1;

  &:hover{
    @include gradient-background-dg($color-primary, $color-accent);
  }

  &::before {
    border-radius: 2px !important;
  }
}
