.btn, button {
  position :relative;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  color: white;
  border-radius: 999px !important;
  @include gradient-background-dg($color-primary, $color-accent);
  @include ease-wubble(0.25s);
  @include shadow-1;
  cursor: pointer;
  padding: 8px 18px !important;
  font-weight: 400;

  &::-moz-focus-inner {
    border: 0;
  }
  &:hover {
    @include shadow-2;
  }
  &:active {
    transform: scale(0.98);
  }
  &:disabled {
    &:hover {
      transform: none;
    }
  }
  &:after {
    position: absolute;
    z-index: -1;
    top: 20%;
    left: 10%;
    border-radius: 999px;
    filter: blur(10px);
    opacity: 0.12;
    width: 85%;
    height: 100%;
    @include shadow-1;
    @include gradient-background-dg($color-primary, $color-accent)
    content: '';
  }
}

.btn-subtle {
  display: inline-block;
  @include ie;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 2px;
  padding: 10px 15px;

  &:before {
    border-radius: 0;
  }
  &.active {
    color: white;
    background: rgba(200,225,255,0.1);
  }
}

.btn-round {
  border-radius: 1000px !important;
}

.btn-outline {
  font-size: 0.85em;
  text-transform: uppercase;
  margin-right: 10px;
  background: none;
  border: 1px solid $color-subtle;
  box-shadow: none;
  color: $color-font-subtle;
  @include ie;

  &:hover {
    color: white;
    box-shadow: none;
  }
  &::before {
    border-radius: 999px;
  }
  &:after {
    display: none;
  }
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}
