// Icon base
@mixin icon($size) {
  display: inline-block;
  vertical-align: middle;
  padding: 2px;

  &.interactive {
    @include ie($size);
  }
  & ~ span {
    display: inline-block;
    vertical-align: middle;
  }
}

// Square icon
@mixin icon-h-w($size) {
  height: $size;
  width: $size;
  @include icon($size)
}

// Height limited icon
@mixin icon-h($size) {
  height: $size;
  @include icon($size)
}

// Generate square icons
$i: 12;
@while $i <= 48 {
  .ico-#{$i} {
    @include icon-h-w($i);
  }
  $i: $i + 4;
}

// Generate height limited icons
$i: 12;
@while $i <= 36 {
  .ico-h-#{$i} {
    @include icon-h($i);
  }
  $i: $i + 4;
}

*[class*="ico-"] {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
