@font-face {
  font-family: 'Circular';
  src: url('/fonts/circular.woff');
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
}

a, a > span {
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Circular';
  font-weight: 700;
}

h1 {
  font-size: 2.25em;

  & + p {
    margin-top: 10px;
  }
}

h2 {
  font-size: 1.35em;
  font-weight: 600;

  & + p {
    padding-top: 5px;
    margin-top: 5px;
  }
}

h3, h4, h5, h6 {
  font-weight: 600;
  font-size: 1.1em;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  & + p {
    padding-top: 20px;
    margin-top: 10px;
  }
}

p {
  max-width: 800px;
  line-height: 1.6;
}

p + p {
  margin-top: 10px;
}
