@font-face {
  font-family: 'Circular';
  src: url('/fonts/circular.woff');
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
}

span, input {
  letter-spacing: 0.2;
}

a, a > span {
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Circular', sans-serif;
  font-weight: 700;
}
section .container h2.sub {
  font-family: 'Roboto';
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.85em;
  letter-spacing: 0.5;
  color: $color-font-body !important;
}

h1 {
  font-size: 2.25em;

  & + p {
    margin-top: 10px;
  }
}

h2 {
  font-size: 1.35em;
  font-weight: 600;

  & + p {
    padding-top: 5px;
    margin-top: 5px;
  }
  & + p + * {
    margin-top: 60px;
  }
}

h3, h4, h5, h6 {
  font-weight: 600;
  font-size: 1.1em;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  & + p {
    padding-top: 20px;
    margin-top: 10px;
  }
}

h4, h5, h6 {
  font-size: 1em;
}

p {
  max-width: 800px;
  line-height: 1.6;
  letter-spacing: 0.2;
  font-size: 1.05em;

  a {
    color: $color-primary-subtle !important;
  }
}

p + p {
  margin-top: 10px;
}

s {
  text-decoration: line-through;
}

b {
  font-weight: 600;
  color: $color-font-paragraph;
}

i {
  font-style: italic;
}

code {
  font-family: 'Consolas', Monospace;
  padding: 15px;
  border-radius: 2px;
  background: $color-bg-darker;

  span {
    font-family: 'Consolas', Monospace;
  }
}

pre {
  margin-bottom: -20px; // For some reason there's whitespace here which is neither padding nor margin
}

.hljs-string {
  color: $color-primary-subtle;
}
.hljs-number {
  color: #4286f4;
}
.hljs-keyword {
  color: $color-accent;
}
.hljs-built_in {
  color: #4286f4
}
.hljs-comment {
  opacity: 0.4;
}
