* {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
}

a, a > span {
  font-weight: 400;
}

h1 {
  font-size: 2.0em;
  font-weight: 600;

  & + p {
    margin-top: 10px;
  }
}

h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-size: 1.1em;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  & + p {
    position: relative;
    top: -1px; // compensate for border
    padding-top: 20px;
    margin-top: 10px;
    border-top: 0.5px solid $color-subtle;
  }
}

p {
  max-width: 900px;
  letter-spacing: 0.2;
  line-height: 1.6;
}

p + p {
  margin-top: 10px;
}