@import './partials/importer';

 /**
 * Main content wrapper
 */
.container {
  max-width: $max-width;
  padding: 0 96px;
  margin: auto;

  @media(max-width: $breakpoint-m) {
    padding: 0 96px;
  }
  @media(max-width: $breakpoint-s) {
    padding: 0 24px;
  }
}

/**
 * Sections
 */
section {
  padding: 60px 0;
  border-bottom: 1px solid rgba(62,67,72,.4);
  width: 100%;

  &:first-of-type {
    margin-top: 40px;
  }
  &:last-of-type {
    border-bottom: none;
    margin-bottom: 60px;
  }
}

/**
 * Rows
 */
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-margin {
  @extend .row;
  margin-left: -5px;
  margin-right: 5px;
  margin-bottom: -5px;

  & > * {
    margin: 5px;
  }
}

.row-reverse {
  @extend .row;
  flex-direction: row-reverse;
}

.row-pad {
  @extend .row;
  margin: 0 -20px;

  & > * {
    padding: 15px;
    margin: 20px;
  }
}

/**
 * Columns
 */
@mixin column($size) {
  flex-grow: $size;
  flex-basis: #{$size + %};
}
// .col-1, .col-2...
@for $i from 0 through 8 {
  .col-#{$i},
  .col-b-#{$i} {
    @include column(#{$i});
  }
}

.col,
.col-b {
  @include column(1);
}

// Square columns
.col-sq {
  overflow: hidden;
  text-align: center;
}

.col-sq::before {
  position: relative;
  content: '';
  float: left;
  padding-top: 100%;
}

.col-sq-bx {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/**
* Media Queries
*/
@media (max-width: $breakpoint-m) {
  .container {
    padding: 0 40px;
  }

  .row, .row-margin {
    flex-wrap: wrap;
  }

  .row-pad *[class*="col-b"] {
    flex-basis: calc(50% - 40px);
  }

  .row-margin *[class*="col-b"] {
    margin: 5px;
    flex-basis: calc(50% - 50px);

    &:nth-child(odd) {
      margin-left: 0;
    }
  }

  .row *[class*="col-b"] {
    &:nth-child(even) {
      margin-right: 0;
    }

    &:nth-child(odd) {
      margin-left: 0;
    }
  }
}
@media (max-width: $breakpoint-s) {
  .row *[class*="col-b"] {
    flex-basis: 100%;
    margin: 0;
  }

  .row-b *[class*="col-b"] {
    margin: 5px;
    flex-basis: calc(50% - 50px);

    &:nth-child(odd) {
      margin-left: 0;
    }
  }

  .row-margin *[class*="col-b"] {
    margin: 5px 0;
    flex-basis: 100%;
    padding-right: 0;
    padding-left: 0;

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  .row-pad *[class*="col-b"] {
    margin: 15px 30px;
    flex-basis: calc(100%);
  }
}
@media (max-width: $breakpoint-xs) {
  .container {
    padding: 0 20px;
  }
}
