@import './partials/importer';

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
  background: none;
  outline: none;
}

html {
  background: $color-bg-dark;
  overflow-y: scroll; // Jumping scroll bar fix
}

*::-webkit-scrollbar-track
{
	background-color: transparent;
}


*::-webkit-scrollbar
{
	width: 8px;
  height: 8px;
	background-color: transparent;
}

*::-webkit-scrollbar-thumb
{
  border-radius: 2px;
	background-color: rgba(77, 84, 94, 0.4);
}

pre > code {
  white-space: pre-wrap;
  margin-top: -1.00em;
  display: block;
}
