// Main Color Palette
// ------------------------------

$color-base: #2e3840;
$color-accent: #32ab7f;
$color-subtle: #8ea1ac;
$color-warning: #f2433a;
$color-on-bg: #fff;
$color-body:#fff;
$color-subtle-2: #acc2cf;
$color-subtle-3: #384248;



