// Main Color Palette
// ------------------------------

$color-base: #2e3540;
$color-accent: #32ab7f;
$color-subtle: #8ea1ac;
$color-warning: #ca2e22;
$color-on-bg: #fff;
$color-subtle-2: #acc2cf;



