.btn, button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: white;
  border-radius: 2px !important;
  @include ie(32);
  @include gradient-background-dg($color-primary, $color-accent);
  padding: 6px 18px !important;
  font-weight: 400;
  flex: 0;

  &::before {
    border-radius: 2px;
  }
  &::-moz-focus-inner {
    border: 0;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    @include gradient-background-dg($color-primary, $color-accent);
  }
}

.btn-round {
  border-radius: 1000px !important;
}

.btn-outline {
  background: transparent;
  border: 1.5px solid $color-primary;
  border-image-source: linear-gradient(to bottom right, $color-primary, $color-accent);
  border-image-slice: 1;

  &:hover{
    @include gradient-background-dg($color-primary, $color-accent);
  }

  &::before {
    border-radius: 2px !important;
  }
}
