@import '~src/styles/partials/importer';

.list-number {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  border: 3px solid $colorBackground;
  border-radius: 50%;
  margin-right: 20px;

  &:before {
    content: '';
    top: -40px;
    height: calc(100% + 40px);
    left: 19.5px;
    position: absolute;
    border-right: 2.5px solid $colorBackground;
  }
  span {
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex;
    background: $colorBackgroundLight;
    border-radius: 50%;
    color: white;
    font-weight: 600;
    justify-content: center;
    align-items: center;
  }
}

.list-description {
  display: inline-block;
  vertical-align: middle;
}

.list-container {
  position: relative;
  display: flex;
  margin-top: 40px;

  &:first-of-type {
    .list-number:before {
      top: 0;
      height: 100%;
    }
  }
  &:last-of-type {
    .list-number:before {
      height: 40px;
    }
  }
}
