* {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
}

a, a > span {
  font-weight: 400;
}

h1 {
  font-size: 2.0em;
  font-weight: 600;
}
h2 {
  font-size: 1.2em;
  font-weight: 600;
}

h3, h4, h5, h6 {
  font-weight: 600;
}

p {
  max-width: 900px;
  letter-spacing: 0.2;
  line-height: 1.6;
}

p + p {
  margin-top: 10px;
}

h1, h2, h3, h4, h5 {
  span {
    display: inline-block;
    vertical-align: middle;
  }
  & + p {
    margin-top: 5px;
  }
}
