/**
 * Color Codes
 * Shapes
*/
$colorPrimary: #6ae974;
$colorPrimaryDark: #58c761;
$colorAccent: #3ad1d7;
$colorAccentDark: #38b6b9;
$colorError: #f85242;
$colorBackgroundLight: #55606e;
$colorBackground: #49525e;
$colorBackgroundDark: #20242b;
$colorBackgroundDarker: #181a20;
$colorBackgroundDarkest: #0f1115;
$colorSubtle: rgba(120, 132, 144, 0.4);
$colorSubtleDark: rgba(62, 67, 72, 0.4);

/**
 * Color Codes
 * Fonts
*/
$colorFontBody: #8a9ead;
$colorFontSubtle: #66707a;

html {
  background: $colorBackgroundDark
}
