@mixin gradient-background($top, $bot) {
  background: transparent;
  background: linear-gradient($top, $bot);
}

@mixin gradient-background-dg($top, $bot) {
  background: transparent;
  background: linear-gradient(to bottom right, $top, $bot);
}

@mixin triangle-left($size, $color) {
  width: 0;
  height: 0;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-right: $size solid $color;
}
