@import "partials/importer";
@import "modules/icons";
@import "modules/buttons";
@import "modules/typo";

body {
  // Layout Properties / Sticky Footer
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // Base Colors
  background: $colorBackground;
  color: $colorFontBody;

  a {
    color: white;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: white;
  }
}

.a-ie {
  @include ie();
}
