@import 'partials/importer';
nav {
    position: fixed;
    width: 100%;
    text-align: left;
    z-index: 2;
    @include ease(0.35s);
    .cnt-full:first-child {
        padding: 20px 6vw;
        background: rgba(0, 0, 0, 0);
        color: white;
        @include ease(0.35s);
        .nav-l {
            font-family: "Roboto Slab";
            font-size: 1.5em;
        }
    }
    .cnt-full:nth-of-type(2) {
        opacity: 0;
        pointer-events: none;
        padding: 12px 6vw;
        background: transparent;
        @include ease(0.25s);
        .nav-l {
            color: white;
            .nav-l-headline{
                opacity:1;
            }
            h1 {
                display: inline-block;
                vertical-align: middle;
                text-transform: uppercase;
                font-size: 1em;
                margin: 0;
                margin-right: 50px;
            }
            a {
                vertical-align: middle;
                white-space: nowrap;
                margin-right: 20px;
                opacity: 0.7;
                font-weight: 300;
                &:hover {
                    opacity: 1;
                    color: white;
                }
            }
        }
    }
}

.nav-do-show {
    background: $colorPrimary;
    .cnt-full:first-child {
        padding: 15px 6vw;
        .nav-l {
            font-size: 1em;
        }
    }
    .cnt-full:nth-of-type(2) {
        background: $colorAccent;
        opacity: 1;
        pointer-events: all;
    }
    @include shadow-2;
}

.nav-hidden {
    background: $colorPrimary;
    .cnt-full:first-child {
        padding: 15px 6vw;
        .nav-l {
            font-size: 1em;
        }
    }
    .cnt-full:nth-of-type(2) {
        background: $colorAccent;
        opacity: 1;
        pointer-events: all;
    }
    @include shadow-2;
}

.nav-border {
    //display:none;
    position: fixed;
    width: 100%;
    height: 2px;
    top: 0;
    z-index: 3;
    //background: $colorAccent;
    background: #ed851f;
}

.nav-l {
    display: inline-block;
}

.nav-r {
    display: inline-block;
    float: right;
    a {
        margin-right: 20px;
        img {
            opacity: 0.87;
            height: 20px;
            margin-bottom: -5px;
            margin-right: 3px;
        }
    }
    will-change: transform;
}

.nav-r-visible-cover {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 5;
    @include ease(0.3s)
}


/**
 * Menu Ico
 */

.nav-ico {
    display: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    padding: 10px;
    height: 14px;
    cursor: pointer;
    transform: scale(0.9);
    opacity: 0.87;
    @include ease(0.15s);
    @include ripple(#000, 0.2);
    &:hover {
        transform: scale(1);
    }
}


/**
 * Navigation inside <body>
 */

.nav-body {
    position: static;
    margin-top: 40px;
    margin-bottom: -20px;
    box-shadow: none;
    text-transform: uppercase;
    a {
        color: $colorFontLight;
        &:hover {
            color: $colorAccent;
        }
        &::after {
            content: ' / '
        }
    }
}

.cnt-full .nav-body {
    max-width: 1050px;
    padding: 0 6vw;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (max-width: $breakpoint-m) {
    .cnt-full:first-child {
        /**
        * Hide Nav Elements
        */
        .nav-l a {
            display: none;
        }
        .nav-l a:first-of-type {
            display: block;
        }
        .nav-r a {
            display: none;
        }
        .nav-r {
            position: fixed;
            right: 0;
            top: 0;
            background: $colorBackgroundLight;
            height: 100vh;
            z-index: 6;
            transform: translateX(320px);
            color: $colorFontBody;
            padding: 60px 30px 0 70px !important;
            @include shadow-5();
            @include ease-touch(0.55s);
            a {
                display: block;
                line-height: 3.5;
            }
            img {
                display: none;
            }
        }
        /**
        * Menu Icon
        */
        .nav-ico {
            position: fixed;
            display: inline-block;
            right: calc(4vw + 5px);
            z-index: 7;
            top: 15px;
            opacity: 0.87;
        }
        /**
        * Open Menu
        */
        .nav-r-visible {
            transform: translateX(0);
        }
        .touch-drag {
            @include notransition();
        }
        .nav-r-visible + .nav-r-visible-cover {
            opacity: 1;
            pointer-events: all;
        }
    }
    .cnt-full:last-child {
        a {
            margin-right: 10px !important;
        }
        h1 {
            margin-right: 20px !important;
        }
    }
}

@media (max-width: $breakpoint-xs) {
    .nav-r {
        padding: 60px 0 0 0 !important;
        text-align: right;
        a {
            margin: 0;
        }
    }
    .nav-ico {
        right: calc(4vw);
    }
}