{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [ ">2%" ]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "comments": false
}
