node_modules/
.sass-cache/
.tmp/
/db/diagnostic.data
/db/journal
/db/mongod.lock
/db/WiredTiger.lock
/py/cache/input.txt
/py/cache/screen.jpg

/py/__pycache__
/py/sources
/assets/styles/importer.css
/assets/styles/importer.css.map
/assets/styles/reset.css
/assets/styles/reset.css.map
/json/users.json
/assets/img/generic/fullsize
/assets/img/items/fullsize
/npm-debug.log
/py/tools/sitemap.py
/sitemap.txt
/views/google.ejs
/py/tools/autocomplete.py
/.mongo
/.brackets.json
/assets/img/
/py/tools/
/json/
