# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
.idea/
/out/

# Webpack generated content
/view/dist/*.*.css
/view/dist/*.bundle.js
/view/dist/*manifest.json
/view/dist/*bundle.json
/view/dist/hot-update.*
/view/dist/img/**.psd
