<!-- Menu Bar -->
<!--==============================-->
<div class='nav-sticky'>
    <nav class='top-nav'>
        <a href='/' class='top-logo'>
            <img src='/img/logo.png' alt='NexusStats Logo' class='top-logo-img'>
            <span class='top-logo-text'>Nexus</span>Stats
            <span class='top-logo-sub'>BETA</span>
        </a>
    </nav>
</div>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

<body class='error-body'>
            <div class="main">
       <div class='error-top-part'>
           <h1>
               404. Someone cleared all the Void Caches :c
           </h1>
           <h2>
               <% if (typeof data!== 'undefined') { %>
               <%= data %>
               <% } else { %>
               The page you were trying to reach doesn't exist.
               <% } %>
           </h2>
       </div>
       <div class='error-bot-part'>
           <form class='lp-header-input-container' method='get' action='/items/search' id='search-form'>
               <div class='lp-header-input-helper'></div>
               <div class='lp-header-input' id='search'>
                   <input type='text' placeholder='Enter Item Name' name='item' id='tags'>
               </div>
               <button type='submit' form='search-form'>
                   <img src='/img/lp_search.svg' class='lp-search-ico' alt='Search'>
               </button>
           </form>
       </div>
      </div>
    <script>
        $(function () {
            var availableTags = [
                "Nezha",
                "Ash Prime",
                "Ember Prime",
                "Frost Prime",
                "Loki Prime",
                "Mag Prime",
                "Nova Prime",
                "Nyx Prime",
                "Rhino Prime",
                "Saryn Prime",
                "Trinity Prime",
                "Vauban Prime",
                "Volt Prime",
                "Boar Prime",
                "Boltor Prime",
                "Braton Prime",
                "Burston Prime",
                "Latron Prime",
                "Paris Prime",
                "Soma Prime",
                "Vectis Prime",
                "Akbronco Prime",
                "Akstiletto Prime",
                "Bronco Prime",
                "Hikou Prime",
                "Lex Prime",
                "Sicarus Prime",
                "Spira Prime",
                "Vasto Prime",
                "Ankyros Prime",
                "Bo Prime",
                "Dakra Prime",
                "Dual Kamas Prime",
                "Fang Prime",
                "Fragor Prime",
                "Glaive Prime",
                "Nikana Prime",
                "Orthos Prime",
                "Reaper Prime",
                "Scindo Prime",
                "Carrier Prime",
                "Wyrm Prime",
                "Kavasa Prime Collar",
                "Odonata Prime",
                "Arcane Scorpion Helmet",
                "Arcane Locust Helmet",
                "Arcane Reverb Helmet",
                "Arcane Chrous Helmet",
                "Arcane Phoenix Helmet",
                "Arcane Backdraft Helmet",
                "Arcane Avalon Helmet",
                "Arcane Pendragon Helmet",
                "Arcane Aurora Helmet",
                "Arcane Squall Helmet",
                "Arcane Essence Helmet",
                "Arcane Swindle Helmet",
                "Arcane Coil Helmet",
                "Arcane Gauss Helmet",
                "Arcane Flux Helmet",
                "Arcane Menticide Helmet",
                "Arcane Vespa Helmet",
                "Arcane Thrak Helmet",
                "Arcane Vanguard Helmet",
                "Arcane Hemlock Helmet",
                "Arcane Chlora Helmet",
                "Arcane Aura Helmet",
                "Arcane Meridian Helmet",
                "Arcane Esprit Helmet",
                "Arcane Gambit Helmet",
                "Arcane Storm Helmet",
                "Arcane Pulse Helmet",
                "Prisma Skana",
                "Prisma Dual Cleavers",
                "Prisma Gorgon",
                "Prisma Grakata",
                "Prisma Veritux",
                "Prisma Shade",
                "Arcane Acceleration",
                "Arcane Aegis",
                "Arcane Agility",
                "Arcane Arachne",
                "Arcane Avenger",
                "Arcane Awakening",
                "Arcane Barrier",
                "Arcane Consequence",
                "Arcane Deflection",
                "Arcane Energize",
                "Arcane Eruption",
                "Arcane Fury",
                "Arcane Grace",
                "Arcane Guardian",
                "Arcane Healing",
                "Arcane Ice",
                "Arcane Momentum",
                "Arcane Nullifier",
                "Arcane Phantasm",
                "Arcane Precision",
                "Arcane Rage",
                "Arcane Resistance",
                "Arcane Strike",
                "Arcane Tempo",
                "Arcane Trickery",
                "Arcane Ultimatum",
                "Arcane Velocity",
                "Arcane Victory",
                "Arcane Warmth",
                "Smeeta Kavat",
                "Adarza Kavat",
                "Blind Rage",
                "Fleeting Expertise",
                "Narrow Minded",
                "Overextended",
                "Transient Fortitude",
                "Critical Delay",
                "Heavy Caliber",
                "Vile Precision",
                "Tainted Mag",
                "Vile Acceleration",
                "Depleted Reload",
                "Burdened Magazine",
                "Vicious Spread",
                "Tainted Shell",
                "Frail Momentum",
                "Critical Deceleration",
                "Anemic Agility",
                "Creeping Bullseye",
                "Hollow Point",
                "Magnum Force",
                "Tainted Clip",
                "Spoiled Strike",
                "Corrupt Charge",
                "Power Drift",
                "Coaction Drift",
                "Cunning Drift",
                "Speed Drift",
                "Endurance Drift",
                "Agility Drift",
                "Stealth Drift",
                "Body Count",
                "Focused Defense",
                "Blood Rush",
                "Weeping Wounds",
                "Maiming Strike",
                "Argon Scope",
                "Bladed Rounds",
                "Catalyzer Link",
                "Guided Ordnance",
                "Spring-Loaded Chamber",
                "Shrapnel Shot",
                "Laser Sight",
                "Repeater Clip",
                "Nano-Applicator",
                "Narrow Barrel",
                "Hydraulic Crosshairs",
                "Embedded Catalyzer",
                "Sharpened Bullets",
                "Targeting Subsystem",
                "Pressurized Magazine",
                "Primed Continuity",
                "Primed Flow",
                "Primed Vigor",
                "Primed Fury",
                "Primed Pressure Point",
                "Primed Reach",
                "Primed Point Blank",
                "Primed Ravage",
                "Primed Morphic Transformer",
                "Primed Pistol Gambit",
                "Primed Heavy Trauma",
                "Primed Target Cracker",
                "Primed Fast Hands",
                "Primed Heated Charge",
                "Primed Bane of Infested",
                "Primed Rifle Ammo Mutation",
                "Primed Pistol Mutation",
                "Primed Slip Magazine",
                "Primed Shotgun Ammo Mutation",
                "Primed Ammo Stock",
                "Tempo Royale",
                "Shred",
                "Buzz Kill",
                "Primed Chamber",
                "High Voltage",
                "Rime Rounds",
                "Thermite Rounds",
                "Jolt",
                "Piercing Caliber",
                "Fanged Fusillade",
                "Shell Shock",
                "Voltaic Strike",
                "Tempo Royale",
                "Tempo Royale",
                "Frigid Blast",
                "Volcanic Edge",
                "Virulent Scourge",
                "Vicious Frost",
                "Frostbite",
                "Auger Strike",
                "Collision Force",
                "Magma Chamber",
                "Pistol Pestilence",
                "Toxic Barrage",
                "Aviator",
                "Bore",
                "Breach Loader",
                "Pummel",
                "Crash Course",
                "Full Contact",
                "Searing Steel",
                "Maim",
                "Vaykor Hek",
                "Vaykor Marelok",
                "Telos Boltor",
                "Telos Akbolto",
                "Synoid Simulor",
                "Synoid Gammacor",
                "Secura Penta",
                "Secura Dual Cestra",
                "Rakta Cernos",
                "Rakta Ballistica",
                "Sancti Tigris",
                "Sancti Castanas",
                "Mara Detron"
            ];
            $("#tags").autocomplete({
                source: availableTags,
                response: function(event, ui) {
                    $('#spinner').hide();
                },
                messages: {
                    noResults: '',
                    results: function() {}
                }
            }).keyup(function (e) {
                if(e.which === 13) {
                    $(".ui-menu-item").hide();
                }
            });
        });
    </script>
</body>
