<!-- Menu Bar -->
<!--==============================-->
<div class='nav-sticky'>
    <nav class='top-nav'>
        <a href='/' class='top-logo'>
            <img src='/img/logo.png' alt='NexusStats Logo' class='top-logo-img'>
            <span class='top-logo-text'>Nexus</span>Stats
            <span class='top-logo-sub'>BETA</span>
        </a>
    </nav>
</div>


<body class='error-body'>
    <div class="main">
        <div class='error-top-part'>
            <h1>
                500. Ordis done fucked up.
            </h1>
            <h2>
                <% if (typeof data!== 'undefined') { %>
                <%= data %>
                <% } else { %>
                Something went wrong on our servers while rendering this page.
                <% } %>
            </h2>
        </div>
        <div class='error-bot-part'>
            <form class='lp-header-input-container' method='get' action='/items/search'>
                <div class='lp-header-input-helper'></div>
                <div class='lp-header-input' id='search'>
                    <input type='text' placeholder='Enter Item Name' name='item'>
                </div>
                <button type='button' type='submit'>
                    <img src='/img/lp_search.svg' class='lp-search-ico' alt='Search'>
                </button>
            </form>
        </div>
    </div>
</body>


