<!doctype html>
<html>

<div class='lp-bg' data-parallax="scroll" data-image-src="img/lp_bg.jpg"></div>
<% include /templates/nav %>
    <script src="/js/parallax.js"></script>

    <body>
        <!-- Header -->
        <!--==============================-->

        <header>
            <div class='generic-header'>
                <div class='generic-header-headline-container'>
                    <h1 class='generic-header-headline'>Feedback</h1>
                </div>
            </div>
        </header>


        <!-- Content -->
        <!--==============================-->

        <div class='generic-content' ng-app='NexusBotModule' ng-app='NexusBotController' ng-cloak>
            <div class='main-content-wrapper'>
                <h1>Have any complaints or suggestions?</h1>
                <span class='generic-desc'>Write them down below. Thanks for your time!</span>

                <% if (result == 'true'){ %>
                <br>
                <div class='alert alert-success'>
                    Thanks for your feedback! &lt;3
                </div>
                <% } %>

                <form class='nexusbot-forms' method='post' action='feedback'>
                    <h3>Title</h3>
                    <input type='text' name='title'>
                    <h3>Description</h3>
                    <textarea name='comment' rows=20 cols =60></textarea>
                    <br>
                    <button type='submit' value='Send Feedback'>
                        Submit
                    </button>
                    <input type='hidden' name='_csrf' value='<%= _csrf %>'>

                    <% if (flash && flash.err){ %>
                     <br>
                    <div class='alert'>
                       <div>Please fill out the form first.</div>
                    </div>
                    <% } %>

                </form>

            </div>
        </div>







    </body>

    <% include /templates/footer %>


</html>
