<div class='lp-bg' data-parallax="scroll" data-image-src="img/lp_bg.jpg"></div>

<% include /templates/nav %>
    <script src="/js/parallax.js"></script>

<!-- Header -->
<!--==============================-->

<header>
    <div class='generic-header'>
        <div class='generic-header-headline-container'>
            <h1 class='generic-header-headline'><%= page_title %></h1>
        </div>
    </div>
</header>



<!-- Content -->
<!--==============================-->

<div class='generic-content'>
    <div class='main-content-wrapper'>
        <h1><%= main_title %></h1>
        <% content.content_comps.forEach(function(item) { %>
           <h2><%= item.Title %></h2>
           <span>
           <%- item.Desc %>
           </span>
        <% }); %>
    </div>
</div>

<% include /templates/footer %>

