    <script src="js/gallery/gallery.js"></script>
    <script src="js/parallax.js"></script>

    <body>
        <!-- Header -->
        <!--==============================-->
        <header>
            <div class='lp-header'>

                <img data-image-src="img/lp_bg.jpg" class='lp-header-vidbg' data-parallax="scroll">



                <div class='lp-header-headline-container'>
                    <h1 class='lp-header-headline'>Warframe Item Prices</h1>
                    <img src='/img/lp_header_border.png' class='lp-header-border'>
                    <h2 class='lp-header-sub'>Forget an auction house - Get all <em>stats</em> directly <a href='/how_we_get_our_stats'><em>from the chat</em></a>!</h2>
                </div>



                <!-- Search -->
                <form class='lp-header-input-container' method='get' action='/items/search' id='search-form'>
                    <div class='lp-header-input-helper'></div>
                    <div class="lp-header-input-helper-2"></div>
                    <input type='text' placeholder='Enter Item Name' name='item' class='search' id='search'>
                    <button type='submit' form='search-form'>
                        <img src='/img/lp_search.svg' class='lp-search-ico' alt='Search'>
                    </button>
                </form>
            </div>
        </header>





        <!-- Main Content -->
        <!--==============================-->

        <div class='lp-content'>

            <!-- Load SVG Blur for Gallery -->
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="filters hidden">
                <defs>
                    <filter id="blur">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="0,0" />
                    </filter>
                </defs>
            </svg>


            <!-- Popular Items -->
            <div class='lp-pop-header'>
                <h1>
            <img src='/img/lp_popular.svg' alt='Popular Items Icon'>
            Popular Items
            <h2>Real Time Updates from the Trade Chat</h2>
            </h1>

            </div>


            <div class='items-main'>

                <button class='item-slide-button dcr-btn' type='button'>
                    <img src='/img/lp_click.svg' alt='Next Item'>
                </button>

                <div class='items-shade-l'></div>
                <div class='items-shade-r'></div>
                <div class='items-wr'>


                    <!-- Main Item (Nikana P) -->
                    <!--==============================-->
                    <% content.forEach(function(itemdata) { %>
                        <% include /templates/main_item %>
                            <% }); %>
                    <div class='items-item'>
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- Landing Page Item Block -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-9753711242300802"
                             data-ad-slot="7495981770"
                             data-ad-format="auto"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>


                </div>
                <button class='item-slide-button' type=button>
                    <img src='/img/lp_click.svg' alt='Next Item'>
                </button>

            </div>

            <!-- Drag Note -->
            <div class='items-drag-note'>
                <img src='/img/lp_drag.svg' alt='Drag'>
                <span><b>Click</b> or <b>Drag</b> for more information.</span>
                <img src='/img/lp_drag.svg' alt='Drag'>

                <div>
                   <br>
                   <br>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Landing Page Sub Item Block -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-9753711242300802"
                         data-ad-slot="2564424570"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
