<div class='lp-bg' data-parallax="scroll" data-image-src="img/lp_bg.jpg"></div>
    <script src="/js/parallax.js"></script>

    <body>
        <!-- Header -->
        <!--==============================-->

        <header>
            <div class='generic-header'>
                <div class='generic-header-headline-container'>
                    <h1 class='generic-header-headline'><%= page_title %></h1>
                </div>
            </div>
        </header>


        <!-- Content -->
        <!--==============================-->

        <div class='generic-content' ng-app='NexusBotModule' ng-app='NexusBotController' ng-cloak>
            <div class='main-content-wrapper'>
                <h1>Perform Price Checks right on Discord.</h1>
                <span class='generic-desc'>With our NexusBot integration for Genesis, you can now do price checks right on your Discord Server! <a href="http://genesis.morningstar.ninja"><em>Click here to get the bot.</em></a></span>




                <h2>How to use the bot?</h2>
                <span class=''>Simply type <b>/PC Item Name</b> ( e.g.  '/PC Frost Prime Helmet' ) in the chat and we'll instantly post the item price.</span>


                <div class='nexusbot-bot'>
                    <span>Thanks to <a href='https://github.com/aliasfalse/'>AliasFalse</a> for integrating this into his Warframe Bot. His bot comes with many more functions. If you don't want those, simply type /stop and it will stop auto-posting anything else.</span>
                </div>

            </div>
        </div>
