/* line 5, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, sass/generic.scss */
a {
  text-decoration: none !important;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
}

/* line 11, sass/generic.scss */
a:hover {
  opacity: 0.7;
}

/* line 14, sass/generic.scss */
em {
  color: #32ab7f;
  font-weight: 600;
}

/* line 19, sass/generic.scss */
b {
  font-weight: 700;
}

/* line 25, sass/generic.scss */
.generic-header {
  text-align: center;
}

/* line 28, sass/generic.scss */
.generic-header {
  text-align: center;
}

/* line 32, sass/generic.scss */
.generic-header-headline {
  font-family: 'raleway';
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  font-size: 36px;
  text-transform: uppercase;
}

/* line 38, sass/generic.scss */
.generic-header-headline-container {
  padding: 180px 10vw 80px 10vw;
  position: relative;
}

/* line 42, sass/generic.scss */
.generic-content {
  background: white;
}

/* line 46, sass/generic.scss */
.main-content-wrapper {
  width: 50%;
  margin: auto;
  padding-bottom: 150px;
}
/* line 51, sass/generic.scss */
.main-content-wrapper h1 {
  padding-top: 90px;
  font-family: 'raleway';
  font-size: 30px;
  font-weight: 600;
  color: #2e3540;
}
/* line 56, sass/generic.scss */
.main-content-wrapper h2 {
  padding-top: 90px;
  font-family: 'raleway';
  font-size: 24px;
  font-weight: 600;
  color: #2e3540;
  padding-bottom: 20px;
}
/* line 62, sass/generic.scss */
.main-content-wrapper span {
  display: inline-block;
  font-family: 'raleway';
  font-size: 16px;
  font-weight: 500;
  color: #2e3540;
  line-height: 32px;
  font-size: 18px;
  width: 80%;
}
/* line 70, sass/generic.scss */
.main-content-wrapper a {
  font-family: 'raleway';
  font-size: 16px;
  font-weight: 500;
  color: #2e3540;
  font-size: 18px;
}

/* line 77, sass/generic.scss */
footer {
  background: #2e3540;
  text-align: center;
  padding: 90px 0;
}

@media (max-width: 80em) {
  /* line 85, sass/generic.scss */
  .main-content-wrapper {
    width: 80%;
  }
}
