<!-- Footer-->
    <!--==============================-->
    <footer>
        <span class='footer-logo'>
            <span class='top-logo-text'>Nexus</span>Stats
        </span>

        <div class='footer-contact'>
           <a href='https://discord.gg/AG8RPZ8' target='_blank'>Contact</a> |
        <a href='/jobs'>We're hiring!</a> |
        <a href='/sitemap'>Sitemap</a> |
        <a href='/imprint'>Imprint</a> |
        <a href='/privacy_policy'>Privacy Policy</a>
        </div>

        <div class='footer-desc'>
            <span>Most images displayed belong to <a href='http://www.warframe.com' target="_blank"><b>Warframe</b></a>. Check it out, it’s an awesome game!</span>
            <br>
            <span>Prices are shown in real-time. Check your ingame chat if you don’t believe us :></span>
        </div>

        <div class='footer-social'>
            <a href="https://twitter.com/WarframeNexus" target='_blank'>
                <img src='<%= img %>lp_tiwtter.svg' alt='Twitter'>
            </a>
            <a href="#" target='_blank'>
                <img src='<%= img %>lp_fb.svg' alt='Facebook'>
            </a>
            <a href="#" target='_blank'>
                <img src='<%= img %>lp_google.svg' alt='Google Plus'>
            </a>
        </div>

    </footer>
