<!-- Menu Bar -->
<!--==============================-->
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700,800" rel="stylesheet">

<div class='nav-sticky'>
    <nav class='top-nav'>
        <a href='/' class='top-logo'>
            <img src='<%= img %>logo.png' alt='NexusStats Logo' class='top-logo-img'>
            <span class='top-logo-text'>Nexus</span>Stats
            <span class='top-logo-sub'>BETA</span>
        </a>

        <form class='top-nav-search' method="get" action='/items/search'>
            <div id='search'>
                <input type='text' placeholder='Enter Item Name' name='item' id='nav-tags'>
            </div>
        </form>


        <div class='top-nav-links'>
            <!-- <div class='top-nav-mobile'>
                <img src='<%= img %>top_menu.svg' alt='Menu icon'>
            </div> -->
            <a href='/NexusBot'><img src='<%= img %>lp_bot.svg' class='top-nav-bot-ico' alt='Nexus Bot Icon'>NexusBot for Your Clan</a>
            <a href='/jobs'>We're hiring!</a>
            <a href='/feedback'>Feedback</a>
        </div>
    </nav>
</div>
