<!-- Menu Bar -->
<!--==============================-->
<div class='nav-sticky'>
    <nav class='top-nav'>
        <a href='/' class='top-logo'>
            <span class='top-logo-text'>Warframe</span>Nexus
            <span class='top-logo-sub'>PRICES</span>
        </a>

        <form class='top-nav-search' method="get" action='/items/search'>
            <input type='text' placeholder='Enter Item Name' name='item'>
        </form>

        <div class='top-nav-links'>
            <!-- <div class='top-nav-mobile'>
                <img src='<%= img %>top_menu.svg' alt='Menu icon'>
            </div> -->
            <a href='/NexusBot'><img src='<%= img %>lp_bot.svg' class='top-nav-bot-ico' alt='Nexus Bot'>NexusBot for Your Clan</a>
            <a href='/jobs'>We're hiring!</a>
        </div>
    </nav>
</div>
