<!-- Menu Bar -->
<!--==============================-->
<div class='nav-sticky'>
    <div class='javascript-notf'>
        <div class='javascript-notf-container'>
            <span>This site doesn't work properly without Javascript.</span>
            <span>If you still want to use it, search for items by entering their respective URL<br><span class='js-sub-span'>e.g. <a href='/prime/frost'>www.warframenexus.com/prime/frost</a> </span></span>
        </div>
    </div>

    <nav class='top-nav'>
        <a href='/' class='top-logo'>
            <span class='top-logo-text'>Warframe</span>Nexus
            <span class='top-logo-sub'>PRICES</span>
        </a>

        <div class='top-nav-search'>
            <input type='text' placeholder='Enter Item Name'>
        </div>

        <div class='top-nav-links'>
            <div class='top-nav-mobile'>
                <img src='<%= img %>top_menu.svg' alt='Menu icon'>
            </div>
            <a href='#'><img src='<%= img %>lp_bot.svg' class='top-nav-bot-ico' alt='Nexus Bot'>NexusBot for Your Clan</a>
            <a href='/jobs'>We're hiring!</a>
        </div>
    </nav>
</div>
