/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
.notifications[data-v-217d5c55] {
  position: relative;
  z-index: 1;
}
@media (max-width: 40em) {
.notifications[data-v-217d5c55] {
      position: static;
}
}
.nav-ico[data-v-217d5c55] {
  display: inline-block;
}
.notification-container[data-v-217d5c55] {
  position: absolute;
  overflow: hidden;
  right: 0;
  width: 450px;
  text-align: left;
  opacity: 0;
  transform: translateY(-5px);
  pointer-events: none;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.15), 0 6px 12px rgba(0, 0, 0, 0.2);
}
.notification-container.visible[data-v-217d5c55] {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}
@media (max-width: 40em) {
.notification-container[data-v-217d5c55] {
      margin-top: 7px;
      width: 100vw;
}
}
.no-notifcations[data-v-217d5c55] {
  padding: 30px;
}
.hide[data-v-217d5c55] {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.hide.visible[data-v-217d5c55] {
    pointer-events: all;
}
@media (max-width: 40em) {
.hide[data-v-217d5c55] {
      display: none;
}
}
.notification-header[data-v-217d5c55] {
  background: #2d323b;
  padding: 15px 30px;
  color: white;
}
.notification-body[data-v-217d5c55] {
  position: relative;
  overflow-y: scroll;
  background: #21232a;
  min-height: 80px;
  max-height: calc(250px + 10vh);
}
.notification[data-v-217d5c55] {
  border-radius: 2px;
  background: linear-gradient(to bottom right, #424957, #363d47);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.05);
  position: relative;
  margin: 20px;
  padding: 20px;
}
.notification[data-v-217d5c55]:hover {
    background: linear-gradient(to bottom right, #424957, #363d47);
}
.notification p[data-v-217d5c55] {
    padding-top: 0;
    margin-top: 3px;
    font-size: 1em;
}
.notification .dismiss[data-v-217d5c55] {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 8px;
}
.footer[data-v-217d5c55] {
  margin-top: 20px;
}
.footer[data-v-217d5c55] button {
  background: linear-gradient(to bottom right, transparent, transparent);
  border: 1px solid rgba(120, 132, 144, 0.4);
  margin-right: 10px;
  font-size: 0.9em;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.02), 0 1px 4px rgba(0, 0, 0, 0.06);
  transition-timing-function: ease;
  transition-duration: 0.25s;
  border-radius: 9999px !important;
}
.footer[data-v-217d5c55] button:hover {
    background: linear-gradient(to bottom right, #39e56f, #15ced6);
}
.footer[data-v-217d5c55] button:after {
    display: none;
}
.unread-bubble[data-v-217d5c55] {
  position: absolute;
  z-index: 1;
  top: 7px;
  right: 7px;
  font-size: 0.85em;
  color: white;
  height: 9px;
  width: 9px;
  border-radius: 999px;
  border: 2px solid #21232a;
  opacity: 0;
  transform: scale(0.75);
  pointer-events: none;
  background: linear-gradient(to bottom right, #39e56f, #15ced6);
  transition-timing-function: ease;
  transition-duration: 0.25s;
  animation-name: pulse-data-v-217d5c55;
  animation-timing-function: ease;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.unread-bubble.unread[data-v-217d5c55] {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}
@media (max-width: 40em) {
.unread-bubble[data-v-217d5c55] {
      right: 30px;
      top: 13px;
}
}
@keyframes pulse-data-v-217d5c55 {
0% {
    transform: scaleX(1);
}
50% {
    transform: scale3d(1.15, 1.15, 1.15);
}
100% {
    transform: scaleX(1);
}
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
.app-container {
  max-width: 100vw;
  position: relative;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}
.app-content.deltaX {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.app-content > .container {
  will-change: padding;
}
.zoom-enter-active, .fade-leave-active {
  transition-timing-function: ease;
  transition-duration: 0.4s;
}
.zoom-enter, .zoom-leave-to {
  transform: scale(1.01);
  transform-origin: top;
  opacity: 0.75;
}
@media (min-width: 75em) {
.app-content {
    transition-timing-function: cubic-bezier(0, 1.01, 0.55, 0.99);
    transition-duration: 0.45s;
}
.app-content > .container {
      transition-timing-function: cubic-bezier(0, 1.01, 0.55, 0.99);
      transition-duration: 0.45s;
}
.activeSidebar {
    margin-right: calc(262px + 5vw);
    transform: translateX(calc(262px + 5vw));
}
.activeSidebar > .container {
      padding: 0 96px !important;
}
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
.tooltip[data-v-98a9c358] {
  position: absolute;
  pointer-events: none;
  text-align: center;
  z-index: 1;
  border-radius: 2px;
  font-size: 0.9em;
  font-weight: 400;
  padding: 4px 15px;
  top: 14px;
  left: 45px;
  color: white;
  opacity: 0;
  white-space: nowrap;
  background: black;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.15), 0 6px 12px rgba(0, 0, 0, 0.2);
  transition-timing-function: ease;
  transition-duration: 0.25s;
}
.tooltip .tooltip-pointer[data-v-98a9c358] {
    position: absolute;
    top: 10px;
    left: -4px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid black;
}
@media (max-width: 40em) {
.tooltip[data-v-98a9c358] {
      display: none;
}
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
nav[data-v-2451dd2c] {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  display: flex;
  flex-direction: column;
  position: fixed;
}
nav.active[data-v-2451dd2c] .ico-wrapper .panel-container .panel {
    opacity: 1;
}
nav.active[data-v-2451dd2c] .nav-lower {
    transform: translateX(0);
}
nav[data-v-2451dd2c] .nav-upper {
    background: #101115;
}
nav[data-v-2451dd2c] .nav-upper .ico-interactive {
      margin: 0;
      left: -1px;
}
nav[data-v-2451dd2c] .nav-upper .ico-interactive img {
        height: 20px;
        width: 20px;
}
nav[data-v-2451dd2c] .nav-upper .panel-backdrop {
      content: '';
      position: absolute;
      z-index: -1;
      left: 56px;
      top: 56px;
      height: 100vh;
      width: calc(206px + 5vw);
      background: #21232a;
      will-change: transform;
      transition-timing-function: cubic-bezier(0, 1.01, 0.55, 0.99);
      transition-duration: 0.45s;
      box-shadow: 0 50px 100px rgba(0, 0, 0, 0.05), 0 15px 35px rgba(0, 0, 0, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
}
@media (max-width: 40em) {
nav[data-v-2451dd2c] .nav-upper .panel-backdrop {
          transform: translateX(calc(-320px - 5vw));
          width: calc(250px + 5vw);
}
}
nav[data-v-2451dd2c] .nav-upper:hover ~ .nav-lower.hidden {
      opacity: 1 !important;
}
nav[data-v-2451dd2c] .nav-upper:hover ~ .nav-lower.hidden .tooltip {
        opacity: 1;
        background: transparent;
        box-shadow: none;
        transition-delay: 0s;
}
nav[data-v-2451dd2c] .nav-upper:hover ~ .nav-lower.hidden .tooltip .tooltip-pointer {
          opacity: 0;
          transition-delay: 0s;
}
nav[data-v-2451dd2c] .nav-lower {
    height: 100vh;
    transition-timing-function: cubic-bezier(0, 1.01, 0.55, 0.99);
    transition-duration: 0.45s;
}
nav[data-v-2451dd2c] .nav-lower.hidden {
      opacity: 0;
      pointer-events: none;
}
nav[data-v-2451dd2c] .nav-lower.hidden .tooltip {
        transition-timing-function: ease;
        transition-duration: 0s;
        transition-delay: 1s;
}
nav[data-v-2451dd2c] .nav-lower.hidden .tooltip .tooltip-pointer {
          transition-delay: 1s;
}
nav[data-v-2451dd2c] .nav-lower.dragged .nav-lower-backdrop {
      background: #2d323b;
}
nav[data-v-2451dd2c] .nav-lower .nav-lower-backdrop {
      position: absolute;
      height: 100vh;
      width: 100%;
      z-index: 1;
}
@media (max-width: 75em) {
nav[data-v-2451dd2c] .nav-lower:not(.dragged) {
      transform: translateX(calc(-300px - 5vw));
}
}
nav[data-v-2451dd2c] .ico-wrapper {
    position: relative;
    padding: 8px;
}
nav[data-v-2451dd2c] .ico-interactive {
    position: relative;
    z-index: 1;
    transform: scale(1);
    padding: 8;
    cursor: pointer;
    border-radius: 1000px;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    transition-timing-function: ease;
    transition-duration: 0.2s;
    margin: 1px 0;
    position: relative;
    left: 1px;
    display: inline-block;
}
nav[data-v-2451dd2c] .ico-interactive::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      opacity: 0;
      border-radius: 1000px;
      background: rgba(200, 225, 250, 0.2);
      transition-timing-function: ease;
      transition-duration: 0.15s;
}
nav[data-v-2451dd2c] .ico-interactive:hover {
      background: rgba(200, 225, 255, 0.1);
      transition-timing-function: ease;
      transition-duration: 0.3s;
}
nav[data-v-2451dd2c] .ico-interactive:hover:before {
        transition-timing-function: ease;
        transition-duration: 0.8s;
}
@media (max-width: 40em) {
nav[data-v-2451dd2c] .ico-interactive:hover {
          background: transparent;
}
}
nav[data-v-2451dd2c] .ico-interactive:active {
      transition-timing-function: ease;
      transition-duration: 0.2s;
      transform: scale(0.97);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
nav[data-v-2451dd2c] .ico-interactive:active:before {
        opacity: 1;
        transition-timing-function: ease;
        transition-duration: 0.1s;
}
nav[data-v-2451dd2c] .ico-interactive.interactive-nz {
      transform: scale(1) !important;
}
nav[data-v-2451dd2c] .ico-interactive img {
      height: 18px;
      width: 18px;
}
nav[data-v-2451dd2c] .ico-interactive:hover + .tooltip {
      opacity: 1;
      transform: translateX(10px);
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
.panel-body[data-v-76e552d8] {
  pointer-events: none;
}
.active[data-v-76e552d8] .panel .panel-head {
  cursor: auto;
}
.active[data-v-76e552d8] .panel .panel-head:hover {
    background: none;
}
.active[data-v-76e552d8] .panel .panel-head .shortcut {
    pointer-events: none;
    opacity: 0;
}
.active[data-v-76e552d8] .panel .panel-head .back {
    pointer-events: all;
    opacity: 1;
}
.active[data-v-76e552d8] .panel .panel-body {
  transition-delay: 0.15s;
  opacity: 1;
  pointer-events: all;
}
.inactive[data-v-76e552d8]::before {
  pointer-events: none;
}
.inactive .panel-head[data-v-76e552d8] {
  pointer-events: none;
}
.inactive .panel-container[data-v-76e552d8] {
  opacity: 0;
  pointer-events: none;
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
.panel-container[data-v-66a1d370] {
  position: absolute;
  top: 0;
  left: 56px;
  width: calc(206px + 5vw);
  will-change: transform;
  transition-timing-function: cubic-bezier(0, 1.01, 0.55, 0.99);
  transition-duration: 0.45s;
}
@media (max-width: 40em) {
.panel-container[data-v-66a1d370] {
      width: calc(250px + 5vw);
}
}
.panel[data-v-66a1d370] {
  opacity: 0;
  will-change: opacity;
  transition-timing-function: ease;
  transition-duration: 0.35s;
}
.panel .panel-head[data-v-66a1d370] {
    padding: 17px 35px;
    cursor: pointer;
    border-top: 1px solid rgba(60, 70, 80, 0.4);
    transition-timing-function: ease;
    transition-duration: 0.3s;
}
.panel .panel-head[data-v-66a1d370]:hover {
      background: #16191e;
}
.panel .panel-head span[data-v-66a1d370] {
      display: inline-block;
      vertical-align: middle;
      color: white;
}
.panel .panel-head span ~ span[data-v-66a1d370] {
        display: inline-block;
        vertical-align: middle;
        float: right;
        margin-top: -0.2em;
        transition-timing-function: ease;
        transition-duration: 0.15s;
}
.panel .panel-head span ~ .shortcut[data-v-66a1d370] {
        font-size: 0.65em;
        padding: 5px;
        border-radius: 2px;
        border: 1px solid rgba(120, 132, 144, 0.4);
        color: #66707a;
}
@media (max-width: 40em) {
.panel .panel-head span ~ .shortcut[data-v-66a1d370] {
            display: none;
}
}
@media (max-width: 75em) {
.panel .panel-head[data-v-66a1d370] {
        padding: 17px 25px;
}
}
@media (max-width: 40em) {
.panel .panel-head[data-v-66a1d370]:hover {
        background: #21232a;
}
}
.panel .panel-body[data-v-66a1d370] {
    padding: 10px 35px;
    pointer-events: none;
    max-height: calc(100vh - 116px);
    overflow-y: scroll;
    opacity: 0;
    transition-timing-function: ease;
    transition-duration: 0.25s;
}
@media (max-width: 75em) {
.panel .panel-body[data-v-66a1d370] {
        padding: 10px 25px;
}
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
.back[data-v-6f1c4256] {
  position: absolute;
  right: 30px;
  top: 13px;
  pointer-events: none;
  font-size: 0.8em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1;
  opacity: 0;
}
.back img[data-v-6f1c4256] {
    margin-left: -4px;
    margin-top: -4px;
    margin-bottom: -2px;
    padding: 0;
}
@media (max-width: 75em) {
.back[data-v-6f1c4256] {
      right: 20px;
}
}


.button-container[data-v-07f4d537] {
  position: absolute;
  right: 15px;
}
.button-icon[data-v-07f4d537] {
  display: none;
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
[data-v-f6766c82] .search {
  margin-top: 10px;
}
[data-v-f6766c82] .search label,[data-v-f6766c82] .search br {
    display: none;
}
[data-v-f6766c82] .search .field {
    border-radius: 2px;
    padding: 8px 15px;
    background: #16191e;
}
[data-v-f6766c82] .search input {
    position: relative;
    color: white;
    z-index: 1;
}
[data-v-f6766c82] .search .autocomplete {
    position: absolute;
    left: 50px;
    top: 85px;
}
@media (max-width: 75em) {
[data-v-f6766c82] .search .autocomplete {
        left: 40px;
}
}
[data-v-f6766c82] .search .autocomplete-type {
    display: none;
}
[data-v-f6766c82] .search .button-wrapper {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    margin-top: -29px;
    border-radius: 2px;
    right: 35px;
    height: 36px;
    width: 60px;
}
[data-v-f6766c82] .search .button-wrapper .button-icon {
      display: inline-block;
      position: relative;
      left: 18px;
      top: -4px;
      padding: 12px 10px;
      border-radius: 0;
      background: linear-gradient(to bottom right, #39e56f, #15ced6);
}
[data-v-f6766c82] .search .button-wrapper .button-icon:hover {
        background: linear-gradient(to bottom right, #39e56f, #15ced6);
}
[data-v-f6766c82] .search .button-wrapper .button-icon img {
        position: relative;
        left: -2px;
}
[data-v-f6766c82] .search .button-wrapper button {
      display: none;
}
@media (max-width: 75em) {
[data-v-f6766c82] .search .button-wrapper {
        right: 25px;
}
}
[data-v-f6766c82] .search .suggestion {
    padding: 10px 15px;
    cursor: pointer;
    transition-timing-function: cubic-bezier(0, 1.01, 0.55, 0.99);
    transition-duration: 0.25s;
}
[data-v-f6766c82] .search .suggestion:first-of-type {
      padding-top: 20px;
}
[data-v-f6766c82] .search .suggestion:hover {
      background: #21232a;
}
[data-v-f6766c82] .search .suggestion .ico-36 {
      position: relative;
      overflow: hidden;
      text-align: center;
      background: #2d323b;
      border-radius: 2px;
      margin-right: 10px;
}
[data-v-f6766c82] .search .suggestion .ico-36 img {
        position: relative;
        left: -50%;
        max-width: 200%;
        z-index: 1;
}
[data-v-f6766c82] .search .suggestion .ico-36 .backdrop {
        position: relative;
        top: -50px;
        z-index: 0;
        filter: blur(15px);
}
[data-v-f6766c82] .search .suggestion .suggestion-main {
      position: absolute;
      display: inline-block;
      vertical-align: middle;
}
[data-v-f6766c82] .search .suggestion .suggestion-main .suggestion-name,[data-v-f6766c82] .search .suggestion .suggestion-main .suggestion-type {
        display: block;
}
[data-v-f6766c82] .search .suggestion .suggestion-main .suggestion-name {
        color: white;
}
[data-v-f6766c82] .search .suggestion .suggestion-main .suggestion-type {
        margin-top: -6px;
        font-size: 0.9em;
}
[data-v-f6766c82] .search .suggestion .suggestion-data {
      display: none;
}
@media (max-width: 40em) {
[data-v-f6766c82] .search .suggestion {
        padding: 10px;
}
}
[data-v-f6766c82] .time {
  border-top: 1px solid rgba(60, 70, 80, 0.4);
  margin-top: 30px;
  padding-top: 30px;
}
[data-v-f6766c82] .time label {
    font-size: 0.85em;
    margin-left: 10px;
    color: white;
}
[data-v-f6766c82] .time .input {
    color: white;
}
[data-v-f6766c82] .time .timepicker {
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition-timing-function: ease;
    transition-duration: 0.2s;
}
[data-v-f6766c82] .time .timepicker.active {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
      margin-bottom: 145px;
}
[data-v-f6766c82] .time .timepicker .suggestions {
      position: absolute;
      padding: 10px 15px 0;
      flex-direction: column;
}
[data-v-f6766c82] .time .timepicker .suggestions .col {
        display: flex;
        align-items: center;
        text-align: left;
        border-radius: 2px;
        width: 100%;
        margin-left: -10px;
        margin-bottom: 8px;
        color: white;
        font-size: 0.9em;
        padding: 5px 15px;
        background: #16191e;
}
[data-v-f6766c82] .time .timepicker .suggestions .col:before {
          border-radius: 2px;
}
[data-v-f6766c82] .time .timepicker .suggestions .col:hover {
          background: #8b97a8;
}
[data-v-f6766c82] .col-b .field.active .input span:not(.selected) {
  color: #a1a9b7;
}
[data-v-f6766c82] .col-b .field.active .input .selected {
  color: #39e56f;
}
[data-v-f6766c82] .col-b .field.active .input img {
  transform: rotate(-180deg);
}
[data-v-f6766c82] .rank {
  border-top: 1px solid rgba(60, 70, 80, 0.4);
  margin-top: 20px;
  padding-top: 30px;
}
[data-v-f6766c82] .rank label {
    font-size: 0.85em;
    color: white;
    margin-left: 10px;
}
[data-v-f6766c82] .rank .input {
    cursor: auto;
}
[data-v-f6766c82] .rank .input:hover {
      background: none;
}
[data-v-f6766c82] .rank .input span {
      color: white;
}
[data-v-f6766c82] .rank .input img {
      display: none;
}
[data-v-f6766c82] .rank .ranks {
    color: white;
    text-align: center;
    transition-timing-function: ease;
    transition-duration: 0.15s;
}
[data-v-f6766c82] .rank .ranks .ranks-head,[data-v-f6766c82] .rank .ranks .ranks-input {
      display: none;
}
[data-v-f6766c82] .rank .ranks .suggestions {
      text-align: left;
      margin-left: 5px;
}
[data-v-f6766c82] .rank .ranks .suggestions .suggestion {
        display: inline-block;
        cursor: pointer;
        font-size: 0.85em;
        margin: 3px;
        background: #16191e;
        transform: scale(1);
        padding: 9.33333;
        cursor: pointer;
        border-radius: 1000px;
        user-select: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        transition-timing-function: ease;
        transition-duration: 0.2s;
        padding: 9px 15px;
        border-radius: 2px;
}
[data-v-f6766c82] .rank .ranks .suggestions .suggestion::before {
          content: '';
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          opacity: 0;
          border-radius: 1000px;
          background: rgba(200, 225, 250, 0.2);
          transition-timing-function: ease;
          transition-duration: 0.15s;
}
[data-v-f6766c82] .rank .ranks .suggestions .suggestion:hover {
          background: rgba(200, 225, 255, 0.1);
          transition-timing-function: ease;
          transition-duration: 0.3s;
}
[data-v-f6766c82] .rank .ranks .suggestions .suggestion:hover:before {
            transition-timing-function: ease;
            transition-duration: 0.8s;
}
@media (max-width: 40em) {
[data-v-f6766c82] .rank .ranks .suggestions .suggestion:hover {
              background: transparent;
}
}
[data-v-f6766c82] .rank .ranks .suggestions .suggestion:active {
          transition-timing-function: ease;
          transition-duration: 0.2s;
          transform: scale(0.97);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
[data-v-f6766c82] .rank .ranks .suggestions .suggestion:active:before {
            opacity: 1;
            transition-timing-function: ease;
            transition-duration: 0.1s;
}
[data-v-f6766c82] .rank .ranks .suggestions .suggestion.interactive-nz {
          transform: scale(1) !important;
}
[data-v-f6766c82] .rank .ranks .suggestions .suggestion::before {
          border-radius: 0;
}

