/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
nav[data-v-3a8a02ce] {
  position: fixed;
  justify-content: space-between;
  width: calc(100% - 50px);
  padding: 0 25px;
  height: 56px;
  top: 0;
  z-index: 4;
  background: #21232a;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.05);
}
nav a[data-v-3a8a02ce] {
    margin: 0 15px;
    font-size: 0.9em;
}
nav a[data-v-3a8a02ce]:nth-of-type(3) {
      margin-left: 25px;
}
nav .logo[data-v-3a8a02ce] {
    height: 22px;
}
@media (max-width: 75em) {
nav[data-v-3a8a02ce] {
      position: fixed;
      background: #21232a;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.05);
}
}
.nav-l a[data-v-3a8a02ce]:first-of-type {
  margin-left: 60px;
}
@media (max-width: 40em) {
.nav-l a[data-v-3a8a02ce]:first-of-type {
      margin-left: 50px;
}
.nav-l a:first-of-type img[data-v-3a8a02ce] {
        margin-top: 1px;
}
}
.nav-l .sub[data-v-3a8a02ce] {
  position: relative;
  top: 1px;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 0.75em;
  margin-left: -12px;
  color: #a1a9b7 !important;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}
@media (max-width: 40em) {
.nav-l .sub[data-v-3a8a02ce] {
      display: none;
}
}
.nav-r[data-v-3a8a02ce] {
  text-align: right;
}
@media (max-width: 40em) {
.nav-r a span[data-v-3a8a02ce] {
      display: none;
}
}
@media (max-width: 25em) {
.nav-r a img[data-v-3a8a02ce] {
      display: none;
}
}
.ctx[data-v-3a8a02ce] {
  display: none;
  float: right;
}
@media (max-width: 25em) {
.ctx[data-v-3a8a02ce] {
      display: block;
}
}
[data-v-3a8a02ce] .search {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0.9em;
  border-radius: 3px;
  background: #16191e;
  padding: 6px 12px;
}
@media (max-width: 40em) {
[data-v-3a8a02ce] .search {
      display: none;
}
}
[data-v-3a8a02ce] .search label,[data-v-3a8a02ce] .search br {
    display: none;
}
[data-v-3a8a02ce] .search input {
    position: relative;
    min-width: 200px;
    color: white;
    z-index: 1;
}
[data-v-3a8a02ce] .search input::placeholder {
      color: #66707a !important;
}
[data-v-3a8a02ce] .search .autocomplete {
    position: absolute;
    left: 12px;
    top: -1px;
    margin-top: 7px;
    z-index: 0;
}
[data-v-3a8a02ce] .search .autocomplete-type {
    display: none;
}
[data-v-3a8a02ce] .search .tools {
    position: absolute;
    border-radius: 2px;
    background: #21232a;
    left: 0;
    width: 100%;
    margin-top: 6px;
    z-index: 2;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.05);
}
@media (max-width: 40em) {
[data-v-3a8a02ce] .search .tools {
        width: calc(100% - 2px);
        background: #16191e;
}
}
[data-v-3a8a02ce] .search .tools .suggestion {
      padding: 10px 12px;
      cursor: pointer;
      transition-timing-function: ease;
      transition-duration: 0.1s;
      border-top: 1px solid rgba(60, 70, 80, 0.4);
}
[data-v-3a8a02ce] .search .tools .suggestion:hover {
        background: #16191e;
}
[data-v-3a8a02ce] .search .tools .suggestion .ico-36 {
        position: relative;
        overflow: hidden;
        text-align: center;
        border-radius: 2px;
        margin-right: 20px;
        margin-left: 10px;
        height: 24px;
        width: 24px;
}
[data-v-3a8a02ce] .search .tools .suggestion .ico-36 img {
          position: relative;
          left: -50%;
          max-width: 200%;
          z-index: 1;
}
[data-v-3a8a02ce] .search .tools .suggestion .suggestion-main {
        display: inline-block;
        vertical-align: middle;
}
[data-v-3a8a02ce] .search .tools .suggestion .suggestion-main .suggestion-name,[data-v-3a8a02ce] .search .tools .suggestion .suggestion-main .suggestion-type {
          display: block;
}
[data-v-3a8a02ce] .search .tools .suggestion .suggestion-main .suggestion-name {
          color: white;
}
[data-v-3a8a02ce] .search .tools .suggestion .suggestion-main .suggestion-type {
          margin-top: -3px;
          font-size: 0.9em;
          opacity: 0.8;
}
[data-v-3a8a02ce] .search .tools .suggestion .suggestion-data {
        position: absolute;
        display: inline-block;
        vertical-align: middle;
        right: 0;
        font-size: 0.9em;
        margin: 7px 0;
        padding: 3px 10px;
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
header[data-v-2eba4017] {
  position: relative;
  background: #16191e;
}
header .blobs[data-v-2eba4017] {
    position: absolute;
    width: 110%;
    left: -100px;
    top: -100px;
    min-width: 1920px;
    fill: rgba(60, 70, 80, 0.4) !important;
    animation-name: pulse-data-v-2eba4017;
    animation-timing-function: ease-in-out;
    animation-duration: 35s;
    animation-iteration-count: infinite;
}
header .container[data-v-2eba4017] {
    position: relative;
    z-index: 1;
    padding-top: 180px;
    padding-bottom: 180px;
}
header h1[data-v-2eba4017] {
    font-weight: 300;
}
header p[data-v-2eba4017] {
    color: white;
    font-weight: 400;
}
header .background-container[data-v-2eba4017] {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
@keyframes pulse-data-v-2eba4017 {
0% {
    transform: scaleX(1);
}
50% {
    transform: scale3d(1.15, 1.15, 1.15);
}
100% {
    transform: scaleX(1);
}
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
.item-header[data-v-795c236e] {
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

/**
 * Header background. Item image will be visible here on mobile.
 */
.header-bg[data-v-795c236e] {
  overflow: hidden;
  padding: 115 0;
  box-shadow: none;
  z-index: 0;
  background: #8794a7;
}
.header-bg[data-v-795c236e] .background-container {
    top: 0;
}
.header-bg[data-v-795c236e] .blobs {
    display: none;
}
.header-bg[data-v-795c236e] .container {
    position: static;
}
@media (max-width: 40em) {
.header-bg[data-v-795c236e] {
      padding: 150 0;
}
}
.header-bg img[data-v-795c236e] {
    position: absolute;
    bottom: -40%;
    left: 20%;
    max-height: 150%;
}
@media (max-width: 40em) {
.header-bg img[data-v-795c236e] {
        right: 0;
        max-height: 90%;
        bottom: 0;
}
}
.header-bg .item-img[data-v-795c236e] {
    display: none;
    border-radius: 999px;
}
@media (max-width: 40em) {
.header-bg .item-img[data-v-795c236e] {
        display: block;
}
}
.header-bg .item-img-shade[data-v-795c236e] {
    position: absolute;
    z-index: 0;
    opacity: 0.2;
    height: 60%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent, #2d323b);
}
@media (max-width: 40em) {
.header-bg .item-img-shade[data-v-795c236e] {
        height: 70%;
        opacity: 1;
}
}
.header-bg .item-img-blur[data-v-795c236e] {
    position: absolute;
    z-index: 0;
    opacity: 0;
}
@media (max-width: 40em) {
.header-bg .item-img-blur[data-v-795c236e] {
        left: auto;
        right: -75%;
        top: -15%;
        max-height: 200%;
        max-width: 200%;
        height: 200%;
        width: 200%;
        opacity: 0.75;
        filter: blur(60px) brightness(1.1) contrast(0.5);
}
}
.header-bg[data-v-795c236e] .container {
    padding: 0;
}

/**
 * Item header data
 */
.item-profile[data-v-795c236e] {
  display: flex;
  position: relative;
  top: -80px;
  margin-bottom: -80px;
}
.item-profile-img[data-v-795c236e] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 135px;
  flex: 0 0 135px;
  margin-right: 25px;
  border-radius: 2px;
  background: linear-gradient(to bottom right, #323947, #2d323b);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.05);
}
.item-profile-img img[data-v-795c236e] {
    position: relative;
    z-index: 1;
    max-height: 70%;
    border-radius: 999px;
}
.item-profile-img .item-profile-img-blur[data-v-795c236e] {
    position: absolute;
    z-index: 0;
    top: -50%;
    left: -50%;
    min-height: 200%;
    filter: blur(60px);
}
.item-profile-img .item-profile-img-shade[data-v-795c236e] {
    position: absolute;
    z-index: 2;
    height: 70%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent, #2d323b);
}
@media (max-width: 40em) {
.item-profile-img[data-v-795c236e] {
      display: none;
}
}
.item-profile-data .item-profile-data-info[data-v-795c236e] {
  white-space: nowrap;
}
.item-profile-data .item-profile-data-info h1[data-v-795c236e] {
    margin-top: 5px;
}
.item-profile-data .item-profile-data-info span[data-v-795c236e] {
    position: relative;
    top: -5px;
    margin-left: -20px;
    color: white;
    opacity: 0.6;
}
.item-profile-data .item-profile-data-info span[data-v-795c236e]:first-of-type {
      margin-left: -7px;
}
.item-profile-data .item-profile-data-info span.selected[data-v-795c236e] {
    opacity: 1;
}
.item-profile-data .item-profile-data-info span[data-v-795c236e]:after {
    content: ' /\A0';
}
.item-profile-data .item-profile-data-info span[data-v-795c236e]:last-of-type:after {
    content: '';
}
@media (max-width: 40em) {
.item-profile-data .item-profile-data-info[data-v-795c236e] {
      margin-top: -5px;
}
}
.item-profile-lower[data-v-795c236e] {
  margin-top: 18px;
}

/**
 * Sub-page nav
 */
.subnav[data-v-795c236e] {
  margin-top: 25px;
  border-top: 1px solid rgba(60, 70, 80, 0.4);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.05);
}
.subnav a[data-v-795c236e] {
    display: inline-block;
    padding: 17.5px 20px;
    margin-right: 5px;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 0.875em;
    letter-spacing: 0.5;
}
.subnav a[data-v-795c236e]:before {
      border-radius: 0;
}
.subnav .container[data-v-795c236e] {
    position: relative;
}
@media (max-width: 40em) {
.subnav[data-v-795c236e] {
      margin-top: 20px;
}
}
.subnav .router-link-active[data-v-795c236e] {
    border-bottom: 2px solid #68d891;
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
.filters[data-v-16b66baa] {
  margin-top: 20px;
}
.filters .col-b[data-v-16b66baa] {
    flex-grow: 0;
    flex-basis: auto;
    margin-bottom: 40px;
}
@media (min-width: 40em) {
.filters .col-b[data-v-16b66baa]:not(:last-of-type) {
        padding-right: 40px;
        margin-right: 40px;
        border-right: 1px solid rgba(60, 70, 80, 0.4);
}
}
@media (max-width: 40em) {
.filters .col-b[data-v-16b66baa]:not(:last-of-type) {
        width: 100%;
}
}
.filters label[data-v-16b66baa] {
    display: block;
    font-size: 0.85em;
    font-weight: 400;
    color: white;
    margin-bottom: 5px;
}
.filters .inline-data[data-v-16b66baa] {
    flex-grow: 0;
    border-radius: 2px;
    padding: 12px 15px;
    margin-right: 10px;
    background: rgba(200, 225, 255, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.02), 0 1px 4px rgba(0, 0, 0, 0.06);
}
.filters .inline-data.inactive[data-v-16b66baa] {
      opacity: 0.5;
      background: transparent;
}
.filters .inline-data .data[data-v-16b66baa] {
      display: block;
      font-size: 1.2em;
      color: white;
      margin-bottom: 5px;
}
.filters .inline-data .diff[data-v-16b66baa] {
      display: inline-block;
      font-size: 0.8em;
      color: #f85242;
      letter-spacing: -0.5;
}
.filters .inline-data .diff.inline-data-increase[data-v-16b66baa] {
        color: #39e56f;
}
.filters .inline-data[data-v-16b66baa]:before {
      border-radius: 2px;
}
.filters .btn-subtle[data-v-16b66baa] {
    margin-top: 5px;
    margin-right: 5px;
    font-size: 0.85em !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.02), 0 1px 4px rgba(0, 0, 0, 0.06);
}
.filters .btn-subtle[data-v-16b66baa]:not(.active) {
      background: transparent;
      color: white;
}
.filters .btn-subtle[data-v-16b66baa]:not(.active):hover {
        background: rgba(200, 225, 255, 0.1);
}
.filters .btn-subtle:not(.active) .status-circle[data-v-16b66baa] {
        background: white;
}
.filters .btn-subtle.disabled[data-v-16b66baa] {
      color: #66707a;
      cursor: auto;
      pointer-events: none;
      box-shadow: none;
      background: transparent;
      opacity: 0.5;
}
.filters .btn-subtle.disabled .status-circle[data-v-16b66baa] {
        background: transparent;
        border: 0.5px solid #66707a;
}
.filters .btn-subtle .status-circle[data-v-16b66baa] {
      display: inline-block;
      vertical-align: middle;
      margin-right: 6.5px;
      height: 2px;
      width: 2px;
      background: white;
      border: 1px solid white;
      border-radius: 50%;
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
#filters[data-v-2f48fe7c] {
  position: absolute;
}
#blur[data-v-2f48fe7c] {
  position: absolute;
  top: 0;
}
.blur[data-v-2f48fe7c] {
  filter: blur(20px);
}
svg text[data-v-2f48fe7c] {
  font-size: 0.9em;
  fill: #66707a;
}
svg text.align-left[data-v-2f48fe7c] {
    transform: translateX(-40px);
}
svg .pointer[data-v-2f48fe7c] {
  fill: rgba(120, 132, 144, 0.4);
  stroke: rgba(120, 132, 144, 0.4);
  stroke-width: 1px;
}
svg .line[data-v-2f48fe7c] {
  stroke: #39e56f;
  stroke-width: 2px;
  fill: none;
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
.dummy[data-v-43970504] {
  width: 320px;
}
.row[data-v-43970504] {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.05);
  display: flex;
  min-width: 320px;
  max-width: 320px;
  border-radius: 0px;
  padding: 0;
}
.row .col[data-v-43970504] {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22.5px;
    height: 115px;
    width: 115px;
}
.row .col[data-v-43970504]:first-of-type {
      background: linear-gradient(to bottom right, #8794a7, #596477);
}
.row .col:first-of-type .background[data-v-43970504] {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
}
.row .col:first-of-type .background.set[data-v-43970504] {
          align-items: flex-start;
}
.row .col:first-of-type .background.set img[data-v-43970504] {
            height: auto;
            max-height: 300%;
}
.row .col:first-of-type .background img[data-v-43970504] {
          opacity: 0.5;
          height: 50%;
          max-width: 100%;
}
.row .col:first-of-type .background .background-overlay[data-v-43970504] {
          position: absolute;
          bottom: 0;
          background: red;
          height: 100%;
          width: 100%;
          z-index: 1;
          background: linear-gradient(rgba(15, 20, 25, 0.1), #8794a7);
}
.row .col:first-of-type .content[data-v-43970504] {
        position: relative;
        z-index: 1;
        text-align: center;
}
.row .col:first-of-type .content h3[data-v-43970504] {
          font-weight: 400;
          font-family: 'Roboto', sans-serif;
          font-size: 0.95em;
          letter-spacing: 0;
          text-transform: uppercase;
}
.row .col:first-of-type .content .content-data[data-v-43970504] {
          margin-top: 40px;
}
.row .col:first-of-type .content .content-data .content-data-main-value[data-v-43970504] {
            color: white;
            font-size: 1.2em;
}
.row .col:first-of-type .content .content-data .content-data-main-diff[data-v-43970504] {
            display: block;
            font-size: 0.9em;
}
.row .col:first-of-type .increase .content-data-main-diff span[data-v-43970504] {
        color: #39e56f;
}
.row .col:first-of-type .decrease .content-data-main-diff span[data-v-43970504] {
        color: #f85242;
}
.row .col[data-v-43970504]:last-of-type {
      position: relative;
      background: linear-gradient(to bottom right, #21232a, #16191e);
}
.row .col:last-of-type .sparkline[data-v-43970504] {
        position: absolute;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        z-index: 1;
        width: calc(100% - 2 * 20px);
        height: calc(100% - 2 * 20px);
}
.row .col:last-of-type .sparkline-comparison[data-v-43970504] {
        z-index: 0;
}
.row .col:last-of-type .sparkline-comparison[data-v-43970504] .blur {
          display: none;
}
.row .col:last-of-type .sparkline-comparison[data-v-43970504] svg .line {
          stroke: #66707a;
          stroke-width: 1px;
          stroke-dasharray: 2;
}
.row .col:last-of-type .sparkline-comparison[data-v-43970504] svg text {
          display: none;
}
.row .col:last-of-type .sparkline-comparison[data-v-43970504] svg .pointer {
          display: none;
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
[data-v-d184a26a] .zoom-enter-active,[data-v-d184a26a] .fade-leave-active {
  transition-timing-function: ease;
  transition-duration: 0.4s;
}
[data-v-d184a26a] .zoom-enter,[data-v-d184a26a] .zoom-leave-to {
  transform: translateY(7px);
  transform-origin: top;
  opacity: 0.75;
}
.app-content[data-v-d184a26a] {
  background: #16191e;
}

