/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
nav[data-v-7da1123c] {
  position: fixed;
  justify-content: space-between;
  width: calc(100% - 50px);
  padding: 0 25px;
  height: 56px;
  top: 0;
  z-index: 4;
  background: #21232a;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.05);
}
nav a[data-v-7da1123c] {
    margin: 0 15px;
    font-size: 0.9em;
}
nav a[data-v-7da1123c]:nth-of-type(3) {
      margin-left: 25px;
}
nav .logo[data-v-7da1123c] {
    height: 22px;
}
@media (max-width: 75em) {
nav[data-v-7da1123c] {
      position: fixed;
      background: #21232a;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.05);
}
}
.nav-l a[data-v-7da1123c]:first-of-type {
  margin-left: 60px;
}
@media (max-width: 40em) {
.nav-l a[data-v-7da1123c]:first-of-type {
      margin-left: 50px;
}
.nav-l a:first-of-type img[data-v-7da1123c] {
        margin-top: 1px;
}
}
.nav-l .sub[data-v-7da1123c] {
  position: relative;
  top: 1px;
  vertical-align: middle;
  letter-spacing: 0.5;
  text-transform: uppercase;
  font-size: 0.75em;
  margin-left: -12px;
  color: #a1a9b7 !important;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}
@media (max-width: 40em) {
.nav-l .sub[data-v-7da1123c] {
      display: none;
}
}
.nav-r[data-v-7da1123c] {
  text-align: right;
}
@media (max-width: 40em) {
.nav-r a span[data-v-7da1123c] {
      display: none;
}
}
@media (max-width: 25em) {
.nav-r a img[data-v-7da1123c] {
      display: none;
}
}
.ctx[data-v-7da1123c] {
  display: none;
  float: right;
}
@media (max-width: 25em) {
.ctx[data-v-7da1123c] {
      display: block;
}
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
header[data-v-2eba4017] {
  position: relative;
  background: #16191e;
}
header .blobs[data-v-2eba4017] {
    position: absolute;
    width: 110%;
    left: -100px;
    top: -100px;
    min-width: 1920px;
    fill: rgba(60, 70, 80, 0.4) !important;
    animation-name: pulse-data-v-2eba4017;
    animation-timing-function: ease-in-out;
    animation-duration: 35s;
    animation-iteration-count: infinite;
}
header .container[data-v-2eba4017] {
    position: relative;
    z-index: 1;
    padding-top: 180px;
    padding-bottom: 180px;
}
header h1[data-v-2eba4017] {
    font-weight: 300;
}
header p[data-v-2eba4017] {
    color: white;
    font-weight: 400;
}
header .background-container[data-v-2eba4017] {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
@keyframes pulse-data-v-2eba4017 {
0% {
    transform: scaleX(1);
}
50% {
    transform: scale3d(1.15, 1.15, 1.15);
}
100% {
    transform: scaleX(1);
}
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
a[data-v-d4c637a6] {
  display: inline-block;
  margin-top: 30px;
}
.data[data-v-d4c637a6] {
  color: white;
}

