/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
.module[data-v-e33bf702] {
  position: relative;
  border-radius: 2px;
  background: linear-gradient(to bottom right, #424957, #363d47);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}
.module[data-v-e33bf702]:hover {
    background: linear-gradient(to bottom right, #424957, #363d47);
}
@media (max-width: 40em) {
.module[data-v-e33bf702] {
      width: 100% !important;
}
}
.module.interactive[data-v-e33bf702] {
    padding: 0;
}
.module.interactive[data-v-e33bf702]:before {
      border-radius: 2px;
}
.header[data-v-e33bf702] {
  padding: 25px 25px 0;
}
.header h2[data-v-e33bf702], .header h3[data-v-e33bf702] {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8em !important;
    letter-spacing: 0.5;
    color: #68d891 !important;
    text-transform: uppercase;
}
.header time[data-v-e33bf702] {
    display: block;
    font-size: 0.85em;
    margin-top: 2px;
}
.header img[data-v-e33bf702] {
    display: inline-block;
    vertical-align: middle;
}
.header .img[data-v-e33bf702] {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-right: 5px;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background: #2d323b;
}
.header .img img[data-v-e33bf702], .header .img object[data-v-e33bf702] {
      position: relative;
      max-height: 80%;
}
.header span[data-v-e33bf702] {
    display: block;
}
@media (max-width: 40em) {
.header[data-v-e33bf702] {
      padding: 25px 25px 0;
}
}
.body[data-v-e33bf702] {
  margin: 20px 0;
  padding: 0 25px;
}
.body li[data-v-e33bf702] {
    margin-top: 15px;
    margin-left: 15px;
    color: white;
    margin-bottom: 20px;
}
.body p[data-v-e33bf702] {
    padding-top: 0px;
}
.body p[data-v-e33bf702], .body span[data-v-e33bf702] {
    color: white;
    font-size: 0.9em;
}
.body li[data-v-e33bf702], .body p[data-v-e33bf702], .body span[data-v-e33bf702] {
    max-width: 650px;
}
@media (max-width: 40em) {
.body[data-v-e33bf702] {
      padding: 0 25px;
      margin: 15px 0 20px;
}
}
.footer[data-v-e33bf702] {
  display: flex;
  padding: 2px 15px;
  margin-top: auto;
  background: #2d323b;
  font-size: 0.75em !important;
  border-radius: 2px;
}
.footer a[data-v-e33bf702] {
    display: flex;
    margin-left: auto;
    align-items: center;
    text-transform: uppercase;
    transform: scale(1);
    padding: 9.33333;
    cursor: pointer;
    border-radius: 1000px;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    transition-timing-function: ease;
    transition-duration: 0.2s;
    padding: 5px 10px;
    letter-spacing: 0.5;
    position: relative;
    left: 10px;
}
.footer a[data-v-e33bf702]::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      opacity: 0;
      border-radius: 1000px;
      background: rgba(200, 225, 250, 0.2);
      transition-timing-function: ease;
      transition-duration: 0.15s;
}
.footer a[data-v-e33bf702]:hover {
      background: rgba(200, 225, 255, 0.1);
      transition-timing-function: ease;
      transition-duration: 0.3s;
}
.footer a[data-v-e33bf702]:hover:before {
        transition-timing-function: ease;
        transition-duration: 0.8s;
}
@media (max-width: 40em) {
.footer a[data-v-e33bf702]:hover {
          background: transparent;
}
}
.footer a[data-v-e33bf702]:active {
      transition-timing-function: ease;
      transition-duration: 0.2s;
      transform: scale(0.97);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.footer a[data-v-e33bf702]:active:before {
        opacity: 1;
        transition-timing-function: ease;
        transition-duration: 0.1s;
}
.footer a.interactive-nz[data-v-e33bf702] {
      transform: scale(1) !important;
}
.footer a[data-v-e33bf702]:hover {
      color: white !important;
}
.footer a img[data-v-e33bf702] {
      height: 20px;
      margin-top: -3px;
      margin-left: -2px;
}
.progress[data-v-e33bf702] {
  position: absolute !important;
  top: 0;
  border-radius: 2px;
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
nav[data-v-02401bce] {
  position: fixed;
  justify-content: space-between;
  width: calc(100% - 50px);
  padding: 0 25px;
  height: 56px;
  top: 0;
  z-index: 4;
  background: #21232a;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.05);
}
nav a[data-v-02401bce] {
    margin: 0 15px;
    font-size: 0.9em;
}
nav a[data-v-02401bce]:nth-of-type(3) {
      margin-left: 25px;
}
nav .logo[data-v-02401bce] {
    height: 22px;
}
@media (max-width: 75em) {
nav[data-v-02401bce] {
      position: fixed;
      background: #21232a;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.05);
}
}
.nav-l a[data-v-02401bce]:first-of-type {
  margin-left: 60px;
}
@media (max-width: 40em) {
.nav-l a[data-v-02401bce]:first-of-type {
      margin-left: 50px;
}
.nav-l a:first-of-type img[data-v-02401bce] {
        margin-top: 1px;
}
}
.nav-l .sub[data-v-02401bce] {
  position: relative;
  top: 1px;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 0.75em;
  margin-left: -12px;
  color: #a1a9b7 !important;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}
@media (max-width: 40em) {
.nav-l .sub[data-v-02401bce] {
      display: none;
}
}
.nav-r[data-v-02401bce] {
  text-align: right;
}
@media (max-width: 40em) {
.nav-r a span[data-v-02401bce] {
      display: none;
}
}
@media (max-width: 25em) {
.nav-r a img[data-v-02401bce] {
      display: none;
}
}
.ctx[data-v-02401bce] {
  display: none;
  float: right;
}
@media (max-width: 25em) {
.ctx[data-v-02401bce] {
      display: block;
}
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
section[data-v-752a49f0]:first-of-type {
  padding: 100px 0;
  background-size: 450px;
  background-repeat: repeat;
  background-image: url("/img/developers/circuit-board.svg");
}
section:first-of-type h1[data-v-752a49f0] {
    font-size: 2.8em;
}
section:first-of-type h1 a[data-v-752a49f0] {
      color: #68d891 !important;
      font-family: 'Circular';
}
section:first-of-type p[data-v-752a49f0] {
    margin: 20px 0 10px;
    font-size: 1.15em;
    color: white;
    max-width: 600px;
}
.typer span[data-v-752a49f0] {
  font-family: 'Consolas', monospace;
  font-size: 1.1em;
}
.typer span[data-v-752a49f0] span {
    vertical-align: baseline;
}
[data-v-752a49f0] .vue-typer {
  margin-left: 5px;
}
[data-v-752a49f0] .vue-typer span {
    font-family: 'Consolas', monospace;
    color: white !important;
}
[data-v-752a49f0] .vue-typer .custom.char.selected {
    background: #4286f4;
}
[data-v-752a49f0] .vue-typer .custom.caret {
    background: white;
}
.btn[data-v-752a49f0] {
  display: inline-block;
  margin-top: 20px;
}
.btn-outline[data-v-752a49f0] {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 15px;
}
.img-col[data-v-752a49f0] {
  text-align: center;
}
@media (max-width: 75em) {
.img-col[data-v-752a49f0] {
      display: none;
}
}
.codez[data-v-752a49f0] {
  height: 300px;
  margin-top: 25px;
}

/**
 * Open source repos
 */
.repos[data-v-752a49f0] {
  padding-top: 20px;
  padding-bottom: 20px;
}
.repos h2[data-v-752a49f0] {
    margin-bottom: 20px;
}
[data-v-752a49f0] .module {
  min-width: 225px;
}
[data-v-752a49f0] .module .header {
    display: flex;
    align-items: center;
    flex-direction: column;
}
[data-v-752a49f0] .module h3 {
    margin-top: 10px;
    font-size: 1em !important;
}
.contribute[data-v-752a49f0] {
  padding-top: 20px;
}
.contribute .btn-outline[data-v-752a49f0] {
    border-radius: 2px;
    border: none;
    padding: 20px 20px 18px;
    font-family: 'Circular';
}
.contribute .btn-outline[data-v-752a49f0]:first-of-type {
      background: #11acb2;
}
.contribute .btn-outline[data-v-752a49f0]:nth-of-type(2) {
      background: #68d891;
}
.contribute .btn-outline[data-v-752a49f0]:before {
      border-radius: 2px;
}
.contribute p a[data-v-752a49f0] {
    cursor: pointer;
}

