/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
nav[data-v-4b1211eb] {
  position: fixed;
  justify-content: space-between;
  width: calc(100% - 50px);
  padding: 0 25px;
  height: 56px;
  top: 0;
  z-index: 4;
  background: #21232a;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.05);
}
nav a[data-v-4b1211eb] {
    margin: 0 15px;
    font-size: 0.9em;
}
nav a[data-v-4b1211eb]:nth-of-type(3) {
      margin-left: 25px;
}
nav .logo[data-v-4b1211eb] {
    height: 22px;
}
@media (max-width: 75em) {
nav[data-v-4b1211eb] {
      position: fixed;
      background: #21232a;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.05);
}
}
.nav-l a[data-v-4b1211eb]:first-of-type {
  margin-left: 60px;
}
@media (max-width: 40em) {
.nav-l a[data-v-4b1211eb]:first-of-type {
      margin-left: 50px;
}
.nav-l a:first-of-type img[data-v-4b1211eb] {
        margin-top: 1px;
}
}
.nav-l .sub[data-v-4b1211eb] {
  position: relative;
  top: 1px;
  vertical-align: middle;
  letter-spacing: 0.5;
  text-transform: uppercase;
  font-size: 0.75em;
  margin-left: -12px;
  color: #a1a9b7 !important;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}
@media (max-width: 40em) {
.nav-l .sub[data-v-4b1211eb] {
      display: none;
}
}
.nav-r[data-v-4b1211eb] {
  text-align: right;
}
@media (max-width: 40em) {
.nav-r a span[data-v-4b1211eb] {
      display: none;
}
}
@media (max-width: 25em) {
.nav-r a img[data-v-4b1211eb] {
      display: none;
}
}
.ctx[data-v-4b1211eb] {
  display: none;
  float: right;
}
@media (max-width: 25em) {
.ctx[data-v-4b1211eb] {
      display: block;
}
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
nav[data-v-32ccbe6f] {
  width: 25%;
  min-width: 320px;
  max-width: 350px;
  background: #2d323b;
  overflow-y: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.05);
}
nav .links[data-v-32ccbe6f] {
    margin-top: 40px;
    margin-left: 85px;
    margin-right: 20px;
    margin-bottom: 50px;
}
nav .links h3[data-v-32ccbe6f] {
      display: inline-block;
      margin-top: 40px;
      color: #a1a9b7 !important;
      letter-spacing: 0.5;
      text-transform: uppercase;
      font-size: 0.75em;
}
nav .links a[data-v-32ccbe6f] {
      position: relative;
      left: -8px;
      display: block;
      padding: 5px 8px;
      font-size: 0.95em;
}
nav .links a[data-v-32ccbe6f]:first-of-type {
        margin-top: 5px;
}
nav .links a.router-link-active[data-v-32ccbe6f] {
        background: linear-gradient(to bottom right, #68d891, #15ced6);
        border-radius: 2px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.02), 0 1px 4px rgba(0, 0, 0, 0.06);
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
[data-v-66c8b909] .zoom-enter-active, .fade-leave-active[data-v-66c8b909] {
  transition: none;
  transform: scale(1);
}
[data-v-66c8b909] .content-wrapper {
  display: flex;
  width: 100%;
  height: calc(100vh - 56px);
  min-height: 500px;
}
[data-v-66c8b909] .content-wrapper section {
    overflow-y: auto;
    padding: 70px 80px;
    margin: 0;
}
[data-v-66c8b909] .content-wrapper section h1 {
      margin-bottom: 8px;
}
[data-v-66c8b909] .content-wrapper section h2 {
      margin-top: 60px;
      margin-bottom: 10px;
}
[data-v-66c8b909] .content-wrapper section h1 + a {
      margin-left: 20px;
      margin-bottom: 8px;
      transform: scale(1);
      padding: 9.33333;
      cursor: pointer;
      border-radius: 1000px;
      user-select: none;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      transition-timing-function: ease;
      transition-duration: 0.2s;
      color: white !important;
}
[data-v-66c8b909] .content-wrapper section h1 + a::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        border-radius: 1000px;
        background: rgba(200, 225, 250, 0.2);
        transition-timing-function: ease;
        transition-duration: 0.15s;
}
[data-v-66c8b909] .content-wrapper section h1 + a:hover {
        background: rgba(200, 225, 255, 0.1);
        transition-timing-function: ease;
        transition-duration: 0.3s;
}
[data-v-66c8b909] .content-wrapper section h1 + a:hover:before {
          transition-timing-function: ease;
          transition-duration: 0.8s;
}
@media (max-width: 40em) {
[data-v-66c8b909] .content-wrapper section h1 + a:hover {
            background: transparent;
}
}
[data-v-66c8b909] .content-wrapper section h1 + a:active {
        transition-timing-function: ease;
        transition-duration: 0.2s;
        transform: scale(0.97);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
[data-v-66c8b909] .content-wrapper section h1 + a:active:before {
          opacity: 1;
          transition-timing-function: ease;
          transition-duration: 0.1s;
}
[data-v-66c8b909] .content-wrapper section h1 + a.interactive-nz {
        transform: scale(1) !important;
}
[data-v-66c8b909] .content-wrapper section h3 {
      margin-top: 40px;
      font-family: 'Consolas', Monospace;
}
[data-v-66c8b909] .content-wrapper section h3 + p {
      margin-top: 0;
      padding-top: 0;
      margin-bottom: 10px;
}
[data-v-66c8b909] .content-wrapper section h4 {
      font-family: 'Roboto';
      font-size: 0.85em;
      font-weight: 400;
      letter-spacing: 0.2;
      margin-top: 15px;
}
[data-v-66c8b909] .content-wrapper section .flex {
      display: flex;
      align-items: center;
      max-width: 800px;
}
[data-v-66c8b909] .content-wrapper section .btn-outline {
      margin-top: 60px;
      margin-bottom: 2px;
      margin-right: 0;
      margin-left: auto;
      border-radius: 2px;
}
[data-v-66c8b909] .content-wrapper section .btn-outline:before {
        border-radius: 2px;
}
[data-v-66c8b909] .content-wrapper section .verb {
      display: inline-block;
      vertical-align: middle;
      font-family: 'Consolas', Monospace;
      color: #68d891;
      font-weight: 600;
      margin-right: 3px;
}
[data-v-66c8b909] .content-wrapper section .btn-subtle {
      text-transform: none;
      pointer-events: none;
      font-size: 0.85em;
}
[data-v-66c8b909] .content-wrapper section .btn-subtle:not(.route) {
        background: #16191e;
}
[data-v-66c8b909] .content-wrapper section .route {
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      font-size: 1em;
      font-family: 'Consolas', Monospace;
      padding: 7px 12px;
      pointer-events: all;
}
[data-v-66c8b909] .content-wrapper section .description {
      padding-top: 20px;
      border-top: 1px solid rgba(60, 70, 80, 0.4);
      margin-top: 40px;
}
[data-v-66c8b909] .content-wrapper section code {
      max-width: 770px;
}
[data-v-66c8b909] .content-wrapper section pre + p {
      margin-bottom: 60px;
}

