/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
nav[data-v-3a8a02ce] {
  position: fixed;
  justify-content: space-between;
  width: calc(100% - 50px);
  padding: 0 25px;
  height: 56px;
  top: 0;
  z-index: 4;
  background: #21232a;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.05);
}
nav a[data-v-3a8a02ce] {
    margin: 0 15px;
    font-size: 0.9em;
}
nav a[data-v-3a8a02ce]:nth-of-type(3) {
      margin-left: 25px;
}
nav .logo[data-v-3a8a02ce] {
    height: 22px;
}
@media (max-width: 75em) {
nav[data-v-3a8a02ce] {
      position: fixed;
      background: #21232a;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.05);
}
}
.nav-l a[data-v-3a8a02ce]:first-of-type {
  margin-left: 60px;
}
@media (max-width: 40em) {
.nav-l a[data-v-3a8a02ce]:first-of-type {
      margin-left: 50px;
}
.nav-l a:first-of-type img[data-v-3a8a02ce] {
        margin-top: 1px;
}
}
.nav-l .sub[data-v-3a8a02ce] {
  position: relative;
  top: 1px;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 0.75em;
  margin-left: -12px;
  color: #a1a9b7 !important;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}
@media (max-width: 40em) {
.nav-l .sub[data-v-3a8a02ce] {
      display: none;
}
}
.nav-r[data-v-3a8a02ce] {
  text-align: right;
}
@media (max-width: 40em) {
.nav-r a span[data-v-3a8a02ce] {
      display: none;
}
}
@media (max-width: 25em) {
.nav-r a img[data-v-3a8a02ce] {
      display: none;
}
}
.ctx[data-v-3a8a02ce] {
  display: none;
  float: right;
}
@media (max-width: 25em) {
.ctx[data-v-3a8a02ce] {
      display: block;
}
}
[data-v-3a8a02ce] .search {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0.9em;
  border-radius: 3px;
  background: #16191e;
  padding: 6px 12px;
}
@media (max-width: 40em) {
[data-v-3a8a02ce] .search {
      display: none;
}
}
[data-v-3a8a02ce] .search label,[data-v-3a8a02ce] .search br {
    display: none;
}
[data-v-3a8a02ce] .search input {
    position: relative;
    min-width: 200px;
    color: white;
    z-index: 1;
}
[data-v-3a8a02ce] .search input::placeholder {
      color: #66707a !important;
}
[data-v-3a8a02ce] .search .autocomplete {
    position: absolute;
    left: 12px;
    top: -1px;
    margin-top: 7px;
    z-index: 0;
}
[data-v-3a8a02ce] .search .autocomplete-type {
    display: none;
}
[data-v-3a8a02ce] .search .tools {
    position: absolute;
    border-radius: 2px;
    background: #21232a;
    left: 0;
    width: 100%;
    margin-top: 6px;
    z-index: 2;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.05);
}
@media (max-width: 40em) {
[data-v-3a8a02ce] .search .tools {
        width: calc(100% - 2px);
        background: #16191e;
}
}
[data-v-3a8a02ce] .search .tools .suggestion {
      padding: 10px 12px;
      cursor: pointer;
      transition-timing-function: ease;
      transition-duration: 0.1s;
      border-top: 1px solid rgba(60, 70, 80, 0.4);
}
[data-v-3a8a02ce] .search .tools .suggestion:hover {
        background: #16191e;
}
[data-v-3a8a02ce] .search .tools .suggestion .ico-36 {
        position: relative;
        overflow: hidden;
        text-align: center;
        border-radius: 2px;
        margin-right: 20px;
        margin-left: 10px;
        height: 24px;
        width: 24px;
}
[data-v-3a8a02ce] .search .tools .suggestion .ico-36 img {
          position: relative;
          left: -50%;
          max-width: 200%;
          z-index: 1;
}
[data-v-3a8a02ce] .search .tools .suggestion .suggestion-main {
        display: inline-block;
        vertical-align: middle;
}
[data-v-3a8a02ce] .search .tools .suggestion .suggestion-main .suggestion-name,[data-v-3a8a02ce] .search .tools .suggestion .suggestion-main .suggestion-type {
          display: block;
}
[data-v-3a8a02ce] .search .tools .suggestion .suggestion-main .suggestion-name {
          color: white;
}
[data-v-3a8a02ce] .search .tools .suggestion .suggestion-main .suggestion-type {
          margin-top: -3px;
          font-size: 0.9em;
          opacity: 0.8;
}
[data-v-3a8a02ce] .search .tools .suggestion .suggestion-data {
        position: absolute;
        display: inline-block;
        vertical-align: middle;
        right: 0;
        font-size: 0.9em;
        margin: 7px 0;
        padding: 3px 10px;
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
header[data-v-2eba4017] {
  position: relative;
  background: #16191e;
}
header .blobs[data-v-2eba4017] {
    position: absolute;
    width: 110%;
    left: -100px;
    top: -100px;
    min-width: 1920px;
    fill: rgba(60, 70, 80, 0.4) !important;
    animation-name: pulse-data-v-2eba4017;
    animation-timing-function: ease-in-out;
    animation-duration: 35s;
    animation-iteration-count: infinite;
}
header .container[data-v-2eba4017] {
    position: relative;
    z-index: 1;
    padding-top: 180px;
    padding-bottom: 180px;
}
header h1[data-v-2eba4017] {
    font-weight: 300;
}
header p[data-v-2eba4017] {
    color: white;
    font-weight: 400;
}
header .background-container[data-v-2eba4017] {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
@keyframes pulse-data-v-2eba4017 {
0% {
    transform: scaleX(1);
}
50% {
    transform: scale3d(1.15, 1.15, 1.15);
}
100% {
    transform: scaleX(1);
}
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
.item-header[data-v-7f5c19fd] {
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

/**
 * Header background. Item image will be visible here on mobile.
 */
.header-bg[data-v-7f5c19fd] {
  overflow: hidden;
  padding: 115 0;
  box-shadow: none;
  z-index: 0;
  background: #8794a7;
}
.header-bg[data-v-7f5c19fd] .background-container {
    top: 0;
}
.header-bg[data-v-7f5c19fd] .blobs {
    display: none;
}
.header-bg[data-v-7f5c19fd] .container {
    position: static;
}
@media (max-width: 40em) {
.header-bg[data-v-7f5c19fd] {
      padding: 150 0;
}
}
.header-bg img[data-v-7f5c19fd] {
    position: absolute;
    bottom: -40%;
    left: 20%;
    max-height: 150%;
}
@media (max-width: 40em) {
.header-bg img[data-v-7f5c19fd] {
        right: 0;
        max-height: 90%;
        bottom: 0;
}
}
.header-bg .item-img[data-v-7f5c19fd] {
    display: none;
    border-radius: 999px;
}
@media (max-width: 40em) {
.header-bg .item-img[data-v-7f5c19fd] {
        display: block;
}
}
.header-bg .item-img-shade[data-v-7f5c19fd] {
    position: absolute;
    z-index: 0;
    opacity: 0.2;
    height: 60%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent, #2d323b);
}
@media (max-width: 40em) {
.header-bg .item-img-shade[data-v-7f5c19fd] {
        height: 70%;
        opacity: 1;
}
}
.header-bg .item-img-blur[data-v-7f5c19fd] {
    position: absolute;
    z-index: 0;
    opacity: 0;
}
@media (max-width: 40em) {
.header-bg .item-img-blur[data-v-7f5c19fd] {
        left: auto;
        right: -75%;
        top: -15%;
        max-height: 200%;
        max-width: 200%;
        height: 200%;
        width: 200%;
        opacity: 0.75;
        filter: blur(60px) brightness(1.1) contrast(0.5);
}
}
.header-bg[data-v-7f5c19fd] .container {
    padding: 0;
}

/**
 * Item header data
 */
.item-profile[data-v-7f5c19fd] {
  display: flex;
  position: relative;
  top: -80px;
  margin-bottom: -80px;
}
.item-profile-img[data-v-7f5c19fd] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 135px;
  flex: 0 0 135px;
  margin-right: 25px;
  border-radius: 2px;
  background: linear-gradient(to bottom right, #323947, #2d323b);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.05);
}
.item-profile-img img[data-v-7f5c19fd] {
    position: relative;
    z-index: 1;
    max-height: 70%;
    border-radius: 999px;
}
.item-profile-img .item-profile-img-blur[data-v-7f5c19fd] {
    position: absolute;
    z-index: 0;
    top: -50%;
    left: -50%;
    min-height: 200%;
    filter: blur(60px);
}
.item-profile-img .item-profile-img-shade[data-v-7f5c19fd] {
    position: absolute;
    z-index: 2;
    height: 70%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent, #2d323b);
}
@media (max-width: 40em) {
.item-profile-img[data-v-7f5c19fd] {
      display: none;
}
}
.item-profile-data .item-profile-data-info[data-v-7f5c19fd] {
  white-space: nowrap;
}
.item-profile-data .item-profile-data-info h1[data-v-7f5c19fd] {
    margin-top: 5px;
}
.item-profile-data .item-profile-data-info span[data-v-7f5c19fd] {
    position: relative;
    top: -5px;
    margin-left: -20px;
    color: white;
    opacity: 0.6;
}
.item-profile-data .item-profile-data-info span[data-v-7f5c19fd]:first-of-type {
      margin-left: -7px;
}
.item-profile-data .item-profile-data-info span.selected[data-v-7f5c19fd] {
    opacity: 1;
}
.item-profile-data .item-profile-data-info span[data-v-7f5c19fd]:after {
    content: ' /\A0';
}
.item-profile-data .item-profile-data-info span[data-v-7f5c19fd]:last-of-type:after {
    content: '';
}
@media (max-width: 40em) {
.item-profile-data .item-profile-data-info[data-v-7f5c19fd] {
      margin-top: -5px;
}
}
.item-profile-lower[data-v-7f5c19fd] {
  margin-top: 18px;
}

/**
 * Sub-page nav
 */
.subnav[data-v-7f5c19fd] {
  margin-top: 25px;
  border-top: 1px solid rgba(60, 70, 80, 0.4);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.05);
}
.subnav a[data-v-7f5c19fd] {
    display: inline-block;
    padding: 17.5px 20px;
    margin-right: 5px;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 0.875em;
    letter-spacing: 0.5;
}
.subnav a[data-v-7f5c19fd]:before {
      border-radius: 0;
}
.subnav .container[data-v-7f5c19fd] {
    position: relative;
}
@media (max-width: 40em) {
.subnav[data-v-7f5c19fd] {
      margin-top: 20px;
}
}
.subnav .router-link-active[data-v-7f5c19fd] {
    border-bottom: 2px solid #68d891;
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
.module[data-v-d8979e0e] {
  position: relative;
  border-radius: 2px;
  background: linear-gradient(to bottom right, #424956, #363d48);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}
.module[data-v-d8979e0e]:hover {
    background: linear-gradient(to bottom right, #424956, #363d48);
}
@media (max-width: 40em) {
.module[data-v-d8979e0e] {
      width: 100% !important;
}
}
.module.interactive[data-v-d8979e0e] {
    padding: 0;
}
.module.interactive[data-v-d8979e0e]:before {
      border-radius: 2px;
}
.header[data-v-d8979e0e] {
  padding: 30px 35px 0;
}
.header h2[data-v-d8979e0e], .header h3[data-v-d8979e0e] {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.85em !important;
    letter-spacing: 0.5;
    color: #68d891 !important;
    text-transform: uppercase;
}
.header time[data-v-d8979e0e] {
    display: block;
    font-size: 0.85em;
    margin-top: 2px;
}
.header img[data-v-d8979e0e] {
    display: inline-block;
    vertical-align: middle;
}
.header span[data-v-d8979e0e] {
    display: block;
}
.body[data-v-d8979e0e] {
  margin: 25px 0;
  padding: 0 35px;
}
.body li[data-v-d8979e0e] {
    margin-top: 15px;
    margin-left: 15px;
    color: white;
    margin-bottom: 20px;
}
.body p[data-v-d8979e0e] {
    padding-top: 0px;
}
.body p[data-v-d8979e0e], .body span[data-v-d8979e0e] {
    color: white;
    font-size: 0.95em;
}
.body li[data-v-d8979e0e], .body p[data-v-d8979e0e], .body span[data-v-d8979e0e] {
    max-width: 650px;
}
.footer[data-v-d8979e0e] {
  display: flex;
  padding: 4px 25px;
  margin-top: auto;
  background: #2d323b;
  font-size: 0.75em !important;
  border-radius: 2px;
}
.footer a[data-v-d8979e0e] {
    display: flex;
    margin-left: auto;
    align-items: center;
    text-transform: uppercase;
    transform: scale(1);
    padding: 9.33333;
    cursor: pointer;
    border-radius: 1000px;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    transition-timing-function: ease;
    transition-duration: 0.2s;
    padding: 5px 10px;
    letter-spacing: 0.5;
    position: relative;
    left: 10px;
}
.footer a[data-v-d8979e0e]::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      opacity: 0;
      border-radius: 1000px;
      background: rgba(200, 225, 250, 0.2);
      transition-timing-function: ease;
      transition-duration: 0.15s;
}
.footer a[data-v-d8979e0e]:hover {
      background: rgba(200, 225, 255, 0.1);
      transition-timing-function: ease;
      transition-duration: 0.3s;
}
.footer a[data-v-d8979e0e]:hover:before {
        transition-timing-function: ease;
        transition-duration: 0.8s;
}
@media (max-width: 40em) {
.footer a[data-v-d8979e0e]:hover {
          background: transparent;
}
}
.footer a[data-v-d8979e0e]:active {
      transition-timing-function: ease;
      transition-duration: 0.2s;
      transform: scale(0.97);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.footer a[data-v-d8979e0e]:active:before {
        opacity: 1;
        transition-timing-function: ease;
        transition-duration: 0.1s;
}
.footer a.interactive-nz[data-v-d8979e0e] {
      transform: scale(1) !important;
}
.footer a[data-v-d8979e0e]:hover {
      color: white !important;
}
.footer a img[data-v-d8979e0e] {
      height: 20px;
      margin-top: -3px;
      margin-left: -2px;
}
.progress[data-v-d8979e0e] {
  position: absolute;
  top: 0;
  border-radius: 2px;
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
.module[data-v-99bcc50a] {
  position: relative;
  overflow: hidden;
  max-width: 650px;
}
.module[data-v-99bcc50a] .header {
    position: relative;
    z-index: 1;
}
.module[data-v-99bcc50a] .header h3 {
      color: white !important;
      font-size: 1em !important;
      text-transform: none;
      letter-spacing: normal;
}
.module[data-v-99bcc50a] .body {
    overflow-y: auto;
    max-height: 275px;
}
.module[data-v-99bcc50a] .body .image {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0.66;
      z-index: 0;
      width: 100%;
      margin-bottom: 40px;
      border-radius: 2px;
}
.module[data-v-99bcc50a] .body .image img {
        width: 100%;
}
.module[data-v-99bcc50a] .body .image .shade {
        position: absolute;
        top: 1px;
        height: 100%;
        width: 100%;
        background: linear-gradient(transparent, #3b424f);
}
.module[data-v-99bcc50a] .body h3, .module[data-v-99bcc50a] .body h4, .module[data-v-99bcc50a] .body p {
      position: relative;
      z-index: 1;
}
.module[data-v-99bcc50a] .body h4 {
      font-size: 0.9em;
}
.module[data-v-99bcc50a] .body p {
      word-wrap: break-word;
      margin-left: 15px;
      margin-bottom: 20px;
}
.module[data-v-99bcc50a] .footer {
    position: relative;
    z-index: 1;
}


/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
.build-requirements[data-v-f6940e58] {
  white-space: nowrap;
}
.title[data-v-f6940e58] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title span[data-v-f6940e58] {
    font-size: 0.9em;
    margin-left: 20px;
    color: white;
}
.component[data-v-f6940e58] {
  display: flex;
  justify-content: center;
  position: relative;
  border-right: 1px solid rgba(60, 70, 80, 0.4);
  padding: 0 5px;
}
.component[data-v-f6940e58]:last-of-type {
    border-right: none;
}
.component img[data-v-f6940e58] {
    max-height: 40px;
}
.component .count[data-v-f6940e58] {
    position: absolute;
    top: 0;
    right: 10%;
    color: white;
    font-size: 0.85em;
}
.component-wrapper[data-v-f6940e58] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}
.component-wrapper:hover + .tooltip[data-v-f6940e58] {
    opacity: 1;
    transform: translateX(5px);
}
.component-wrapper + .tooltip[data-v-f6940e58] {
    white-space: nowrap;
    margin-left: 10px;
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
.item-data[data-v-aaaf43ea] {
  border-bottom: 1px solid rgba(60, 70, 80, 0.4);
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.item-data[data-v-aaaf43ea]:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.item-data span[data-v-aaaf43ea] {
    color: white;
    font-size: 0.9em !important;
    padding-right: 8px;
    border-right: 1px solid rgba(120, 132, 144, 0.4);
}
.item-data span:nth-of-type(1) ~ span[data-v-aaaf43ea] {
    padding-left: 5px;
}
.item-data span[data-v-aaaf43ea]:last-of-type {
    border-right: none;
}
.item-data img[data-v-aaaf43ea] {
    padding: 3.5px;
    margin-right: 2px;
}
.item-data span.negative[data-v-aaaf43ea] {
    color: #f85242;
}
.item-data .data-price-diff[data-v-aaaf43ea] {
    color: #39e56f;
}
.ducats[data-v-aaaf43ea] {
  color: #39e56f !important;
  border-right: none !important;
  padding-right: 0 !important;
}
.ducats ~ span[data-v-aaaf43ea] {
  padding-left: 0 !important;
  color: #a1a9b7;
}
.col:first-of-type span[data-v-aaaf43ea] {
  font-size: 0.9em;
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
[data-v-39c7a90d] .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
[data-v-39c7a90d] .header span {
    font-size: 0.9em;
    color: white;
}
[data-v-39c7a90d] .body {
  margin: auto;
}
.drop[data-v-39c7a90d] {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.drop[data-v-39c7a90d]:nth-of-type(2n - 1) {
    width: calc(50% - 20px);
    padding-right: 20px;
}
.drop[data-v-39c7a90d]:nth-of-type(1n + 2) {
    padding-bottom: 0;
    margin-bottom: 0;
}
.drop .location[data-v-39c7a90d] {
    font-size: 0.9em;
}
.drop .chance[data-v-39c7a90d] {
    margin-top: 3px;
}
.drop .rarity[data-v-39c7a90d] {
    color: #a1a9b7;
    font-size: 0.9em;
}
.drop a[data-v-39c7a90d] {
    background: rgba(255, 255, 255, 0.04);
    display: flex;
    justify-content: center;
    height: 48px;
    width: 48px;
}
.drop img[data-v-39c7a90d] {
    height: 48px;
    filter: grayscale(0.3);
    transition-timing-function: ease;
    transition-duration: 0.25s;
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
[data-v-a0fab6e2] .zoom-enter-active,[data-v-a0fab6e2] .fade-leave-active {
  transition-timing-function: ease;
  transition-duration: 0.4s;
}
[data-v-a0fab6e2] .zoom-enter,[data-v-a0fab6e2] .zoom-leave-to {
  transform: translateY(7px);
  transform-origin: top;
  opacity: 0.75;
}
.app-content[data-v-a0fab6e2] {
  background: #16191e;
}
.row-margin[data-v-a0fab6e2] {
  justify-content: flex-start;
}
.column[data-v-a0fab6e2] {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  min-width: 400px;
}
.column > *[data-v-a0fab6e2]:first-of-type {
    margin-bottom: 20px;
}
.module[data-v-a0fab6e2] {
  max-width: 450px;
}
.patchlogs[data-v-a0fab6e2] {
  justify-content: flex-start;
}
@media (max-width: 75em) {
.patchlogs[data-v-a0fab6e2] .patchlog {
      max-width: calc(50% - 20px);
}
}
@media (max-width: 40em) {
.patchlogs[data-v-a0fab6e2] .patchlog {
      max-width: none;
}
}
.patchlogs[data-v-a0fab6e2] .patchlog .header {
    padding: 0;
}
.patchlogs[data-v-a0fab6e2] .patchlog .header h3 {
      padding: 30px 35px 0;
}
.patchlogs[data-v-a0fab6e2] .patchlog .header time {
      padding: 0 35px;
}
.patchlogs[data-v-a0fab6e2] .patchlog .header img {
      display: none;
}
.btn-subtle[data-v-a0fab6e2] {
  margin-top: 20px;
}

