/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
.build-requirements[data-v-3b62d386] {
  white-space: nowrap;
}
.title[data-v-3b62d386] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title span[data-v-3b62d386] {
    font-size: 0.9em;
    margin-left: 20px;
    color: white;
}
.row[data-v-3b62d386] {
  flex-wrap: nowrap;
}
@media (max-width: 40em) {
.row[data-v-3b62d386] {
      flex-wrap: wrap;
}
}
.component[data-v-3b62d386] {
  display: flex;
  justify-content: center;
  position: relative;
  border-right: 1px solid rgba(60, 70, 80, 0.4);
  padding: 0 5px;
}
.component[data-v-3b62d386]:last-of-type {
    border-right: none;
}
.component img[data-v-3b62d386] {
    max-height: 40px;
}
.component .count[data-v-3b62d386] {
    position: absolute;
    top: 0;
    right: 10%;
    color: white;
    font-size: 0.85em;
}
.component-wrapper[data-v-3b62d386] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}
.component-wrapper:hover + .tooltip[data-v-3b62d386] {
    opacity: 1;
    transform: translateX(5px);
}
.component-wrapper + .tooltip[data-v-3b62d386] {
    white-space: nowrap;
    margin-left: 10px;
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
[data-v-4a1f2a8e] .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
[data-v-4a1f2a8e] .header span {
    font-size: 0.9em;
    color: white;
}
[data-v-4a1f2a8e] .body {
  margin: auto;
  padding: 20px 25px;
}
.drop[data-v-4a1f2a8e] {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.drop[data-v-4a1f2a8e]:nth-of-type(2n - 1) {
    width: calc(50% - 20px);
    padding-right: 20px;
}
.drop[data-v-4a1f2a8e]:nth-of-type(1n + 2) {
    padding-bottom: 0;
    margin-bottom: 0;
}
.drop .location[data-v-4a1f2a8e] {
    font-size: 0.9em;
}
.drop .chance[data-v-4a1f2a8e] {
    margin-top: 3px;
}
.drop .rarity[data-v-4a1f2a8e] {
    color: #a1a9b7;
    font-size: 0.9em;
}
.drop a[data-v-4a1f2a8e] {
    background: rgba(255, 255, 255, 0.04);
    display: flex;
    justify-content: center;
    height: 48px;
    width: 48px;
}
.drop img[data-v-4a1f2a8e] {
    height: 48px;
    filter: grayscale(0.3);
    transition-timing-function: ease;
    transition-duration: 0.25s;
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
.module[data-v-312aedd5] {
  position: relative;
  overflow: hidden;
  max-width: 650px;
}
.module[data-v-312aedd5] .header {
    position: relative;
    z-index: 1;
}
.module[data-v-312aedd5] .body {
    overflow-y: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    max-height: 225px;
}
.module[data-v-312aedd5] .body .image {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0.66;
      z-index: 0;
      width: 100%;
      margin-bottom: 40px;
      border-radius: 2px;
}
.module[data-v-312aedd5] .body .image img {
        width: 100%;
}
.module[data-v-312aedd5] .body .image .shade {
        position: absolute;
        top: 1px;
        height: 100%;
        width: 100%;
        background: linear-gradient(transparent, #3b424f);
}
.module[data-v-312aedd5] .body h3, .module[data-v-312aedd5] .body h4, .module[data-v-312aedd5] .body p {
      position: relative;
      z-index: 1;
}
.module[data-v-312aedd5] .body h4 {
      font-size: 0.9em;
      margin-top: 10px;
}
.module[data-v-312aedd5] .body p {
      word-wrap: break-word;
      margin-bottom: 20px;
}
.module[data-v-312aedd5] .footer {
    position: relative;
    z-index: 1;
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
.indicator[data-v-5eb701c0] {
  display: inline-block;
  transform: scale(1.15);
}
.indicator path[data-v-5eb701c0] {
    fill: #a1a9b7;
}
.indicator.negative[data-v-5eb701c0] {
    transform: rotate(180);
}
.indicator.negative path[data-v-5eb701c0] {
      fill: #f85242;
}
.indicator.positive path[data-v-5eb701c0] {
    fill: #68d891;
}
.indicator.reverse.negative path[data-v-5eb701c0] {
    fill: #68d891;
}
.indicator.reverse.positive path[data-v-5eb701c0] {
    fill: #f85242;
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
.item-data[data-v-1614064c] {
  border-bottom: 1px solid rgba(60, 70, 80, 0.4);
  padding-bottom: 7.5px;
  margin-bottom: 7.5px;
}
.item-data[data-v-1614064c]:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.item-data span[data-v-1614064c] {
    color: white;
    font-size: 0.9em !important;
    padding-right: 8px;
    border-right: 1px solid rgba(120, 132, 144, 0.4);
}
.item-data span:nth-of-type(1) ~ span[data-v-1614064c] {
    padding-left: 5px;
}
.item-data span[data-v-1614064c]:last-of-type {
    border-right: none;
}
.item-data img[data-v-1614064c] {
    padding: 3.5px;
    margin-right: 2px;
}
.item-data span.negative[data-v-1614064c] {
    color: #f85242;
}
.item-data .data-price-diff[data-v-1614064c] {
    color: #68d891;
}
.ducats[data-v-1614064c] {
  color: #68d891 !important;
  border-right: none !important;
  padding-right: 0 !important;
}
.ducats ~ span[data-v-1614064c] {
  padding-left: 0 !important;
  color: #a1a9b7;
}
.col:first-of-type span[data-v-1614064c] {
  font-size: 0.9em;
}

/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
/**
 * Pre-composed styles based on other mixins go here
 */
/**
 * Color Codes
 * Shapes
*/
/**
 * Color Codes
 * Fonts
*/
/**
 * Acceleration Curves
 */
/**
 * Interactive Items
 */
/**
 * Shadows
 */
[data-v-6e364424] .zoom-enter-active,[data-v-6e364424] .fade-leave-active {
  transition-timing-function: ease;
  transition-duration: 0.4s;
}
[data-v-6e364424] .zoom-enter,[data-v-6e364424] .zoom-leave-to {
  transform: translateY(7px);
  transform-origin: top;
  opacity: 0.75;
}
.app-content[data-v-6e364424] {
  background: #16191e;
}
.row-margin[data-v-6e364424] {
  justify-content: flex-start;
}
.column[data-v-6e364424] {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  min-width: 400px;
}
.column > *[data-v-6e364424]:first-of-type {
    margin-bottom: 20px;
}
@media (max-width: 40em) {
.column[data-v-6e364424] {
      min-width: 0;
}
}
.module[data-v-6e364424] {
  max-width: 450px;
}
.patchlogs[data-v-6e364424] {
  justify-content: flex-start;
}
@media (max-width: 75em) {
.patchlogs[data-v-6e364424] .patchlog {
      max-width: calc(50% - 20px);
}
}
@media (max-width: 40em) {
.patchlogs[data-v-6e364424] .patchlog {
      max-width: none;
}
}
.patchlogs[data-v-6e364424] .patchlog .header img {
    display: none;
}
.btn-subtle[data-v-6e364424] {
  margin-top: 20px;
}

