/**
 * Color Codes
 * Shapes
*/
$color-primary: #e6ad02;
$color-primary-subtle: #e0b534;
$color-accent: #00c0ff;
$color-accent-subtle: #23acd9;
$color-positive: #39e56f;
$color-error: #f85242;
$color-error-dark: #d44d5a;
$color-bg-lighter: #a59787;
$color-bg-light: #736a58;
$color-bg: #3b332d;
$color-bg-dark: #252120;
$color-bg-darker: #18130F;
$color-bg-darkest: #151310;
$color-bg-transparent: rgba(70, 78, 90, 0.75);
$color-bg-transparent-light: rgba(90, 100, 112, 0.2);
$color-subtle: rgba(120, 132, 144, 0.4);
$color-subtle-dark: rgba(70, 60, 57, 0.4);

/**
 * Color Codes
 * Fonts
*/
$color-font-paragraph: #ccc9bb;
$color-font-body: #b7b1a1;
$color-font-error: #ffd9c4;
$color-font-subtle: #7a7766;
