/**
 * Color Codes
 * Shapes
*/
$color-primary: #39e56f;
$color-primary-subtle: #68d891;
$color-accent: #15ced6;
$color-accent-subtle: #11acb2;
$color-positive: #39e56f;
$color-error: #f85242;
$color-error-dark: #d44d5a;
$color-bg-lighter: #8b97a8;
$color-bg-light: #5d6675;
$color-bg: #2d323b;
$color-bg-dark: #21232a;
$color-bg-darker: #16181f;
$color-bg-darkest: #101115;
$color-bg-transparent: rgba(70, 78, 90, 0.75);
$color-bg-transparent-light: rgba(90, 100, 112, 0.2);
$color-subtle: rgba(120, 132, 144, 0.4);
$color-subtle-dark: rgba(60, 70, 80, 0.4);

/**
 * Color Codes
 * Fonts
*/
$color-font-paragraph: #bbc1cc;
$color-font-body: #a1a9b7;
$color-font-error: #ffd9c4;
$color-font-subtle: #66707a;
