// Smooth transparent gradient
@mixin gradient-smooth($startColor: $color-black, $direction: 'to top') {

  $scrimCoordinates: (
    0: 1,
    19: 0.738,
    34: 0.541,
    47: 0.382,
    56.5: 0.278,
    65: 0.194,
    73: 0.126,
    80.2: 0.075,
    86.1: 0.042,
    91: 0.021,
    95.2: 0.008,
    98.2: 0.002,
    100: 0
  );

  $hue: hue($startColor);
  $saturation: saturation($startColor);
  $lightness: lightness($startColor);
  $stops: ();

  @each $colorStop, $alphaValue in $scrimCoordinates {
    $stop: hsla($hue, $saturation, $lightness, $alphaValue) percentage($colorStop/100);
    $stops: append($stops, $stop, comma);
  }

  background: linear-gradient(unquote($direction), $stops);
}

@mixin gradient-background($top, $bot) {
  background: linear-gradient($top, $bot);
}
@mixin gradient-background-dg($top, $bot) {
  background: linear-gradient(to bottom right, $top, $bot);
}
@mixin gradient-background-dg-tri($top, $mid, $bot) {
  background: linear-gradient(to bottom right, $top, $mid, $bot);
}
@mixin gradient-border-bottom($top, $bot) {
  @include gradient-background-dg($top, $bot);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100% 2px;
}
@mixin triangle-left($size, $color) {
  width: 0;
  height: 0;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-right: $size solid $color;
}
