/**
 * importer.scss
 *
 * By default, new Sails projects are configured to compile this file
 * from SASS to CSS.  Unlike CSS files, SASS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The SASS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent SASS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 28, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/reset.scss */
body {
  line-height: 1; }

/* line 34, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/reset.scss */
ol, ul {
  list-style: none; }

/* line 37, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/reset.scss */
blockquote, q {
  quotes: none; }

/* line 41, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 45, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 1, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/generic.scss */
a {
  text-decoration: none !important;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s; }

/* line 6, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/generic.scss */
a:hover {
  opacity: 0.7; }

/* line 9, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/generic.scss */
em {
  color: #32ab7f;
  font-weight: 600; }

/* line 14, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/generic.scss */
b {
  font-weight: 700; }

/* line 20, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/generic.scss */
.generic-header {
  text-align: center; }

/* line 23, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/generic.scss */
.generic-header {
  text-align: center; }

/* line 27, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/generic.scss */
.generic-header-headline {
  font-family: 'raleway';
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  font-size: 36px;
  text-transform: uppercase; }

/* line 33, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/generic.scss */
.generic-header-headline-container {
  padding: 180px 10vw 80px 10vw;
  position: relative; }

/* line 37, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/generic.scss */
.generic-content {
  background: white; }

/* line 41, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/generic.scss */
.main-content-wrapper {
  width: 50%;
  margin: auto;
  padding-bottom: 150px; }
  /* line 46, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/generic.scss */
  .main-content-wrapper h1 {
    padding-top: 90px;
    font-family: 'raleway';
    font-size: 30px;
    font-weight: 700;
    color: #2e3840; }
  /* line 51, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/generic.scss */
  .main-content-wrapper h2 {
    padding-top: 90px;
    font-family: 'raleway';
    font-size: 24px;
    font-weight: 700;
    color: #2e3840;
    padding-bottom: 15px; }
  /* line 57, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/generic.scss */
  .main-content-wrapper span {
    display: inline-block;
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #2e3840;
    line-height: 32px;
    font-size: 18px;
    width: 80%; }
  /* line 65, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/generic.scss */
  .main-content-wrapper a {
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #2e3840;
    font-size: 18px; }

/* line 72, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/generic.scss */
footer {
  background: #2e3840;
  text-align: center;
  padding: 90px 0; }

/* line 78, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/generic.scss */
.top-nav-search {
  opacity: 1; }
  /* line 79, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/generic.scss */
  .top-nav-search input {
    opacity: 1; }

@media (max-width: 80em) {
  /* line 86, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/generic.scss */
  .main-content-wrapper {
    width: 80%; } }

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
body {
  font-family: 'raleway';
  font-size: 16px;
  font-weight: 500;
  color: #2e3840;
  overflow-x: hidden;
  background: #2e3840; }

/* line 12, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.lp-bg {
  position: fixed;
  z-index: -1;
  min-height: 100%;
  min-width: 100%; }

/* line 19, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.top-nav {
  z-index: 5;
  height: 90px;
  width: 100%;
  background: white;
  line-height: 90px;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s; }

/* line 28, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.top-logo {
  display: inline-block;
  margin-left: 5%;
  font-family: 'raleway';
  font-size: 22px;
  font-weight: 700;
  color: #2e3840; }

/* line 34, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.top-logo-text {
  font-weight: 300;
  margin-right: 1px; }

/* line 39, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.top-logo-sub {
  font-family: 'raleway';
  font-size: 18px;
  font-weight: 700;
  color: #8ea1ac;
  margin-left: 5px; }

/* line 44, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.top-nav-links {
  display: inline-block;
  float: right;
  margin-right: 5%;
  margin-top: 2px; }
  /* line 49, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .top-nav-links a:first-of-type {
    font-family: 'raleway';
    font-size: 18px;
    font-weight: 700;
    color: #2e3840; }
  /* line 52, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .top-nav-links a {
    font-family: 'raleway';
    font-size: 18px;
    font-weight: 700;
    color: #8ea1ac;
    float: right;
    padding: 0 25px; }

/* line 59, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
a {
  text-decoration: none !important;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s; }

/* line 64, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
a:hover {
  opacity: 0.7; }

/* line 68, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.lp-header {
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%; }

/* line 75, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.lp-header-headline {
  font-family: 'raleway';
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  font-size: 54px;
  font-weight: 500;
  text-transform: uppercase; }

/* line 82, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.lp-header-headline-container {
  padding: 20vh 10vw;
  position: relative;
  top: 5vh; }

/* line 88, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
em {
  color: #32ab7f;
  font-weight: 600; }

/* line 93, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
b {
  font-weight: 700; }

/* line 97, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.lp-header-sub {
  font-family: 'raleway';
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  font-weight: 300;
  margin-top: 10px; }

/* line 103, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.lp-header-input-container {
  height: 150px;
  min-height: 175px;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  text-align: center; }
  /* line 109, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .lp-header-input-container button {
    background: #32ab7f;
    outline: none;
    cursor: pointer;
    border: 0;
    padding: 1px;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    height: 49px;
    vertical-align: middle;
    width: 42px;
    margin-left: 0px; }
  /* line 117, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .lp-header-input-container button:hover,
  .lp-header-input-container button:focus {
    background: #2e3840;
    outline: none;
    cursor: pointer;
    border: 0;
    padding: 1px;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s; }

/* line 122, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.lp-header-input {
  display: inline-block;
  vertical-align: middle; }
  /* line 86, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/partials/_mixins.scss */
  .lp-header-input ::-webkit-input-placeholder {
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #2e3840;
    color: #2e3840 !important; }
  /* line 91, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/partials/_mixins.scss */
  .lp-header-input ::-moz-placeholder {
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #2e3840;
    color: #2e3840 !important; }
  /* line 96, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/partials/_mixins.scss */
  .lp-header-input :-ms-input-placeholder {
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #2e3840;
    color: #2e3840 !important; }
  /* line 101, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/partials/_mixins.scss */
  .lp-header-input :-moz-placeholder {
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #2e3840;
    color: #2e3840 !important; }
  /* line 125, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .lp-header-input input {
    outline: none;
    border: none;
    padding-left: 10%;
    padding-top: 3px;
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #2e3840;
    background: white;
    height: 45px;
    width: 315px; }

/* line 133, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.item-search {
  display: inline-block;
  vertical-align: middle; }
  /* line 86, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/partials/_mixins.scss */
  .item-search ::-webkit-input-placeholder {
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #2e3840;
    color: #8ea1ac !important; }
  /* line 91, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/partials/_mixins.scss */
  .item-search ::-moz-placeholder {
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #2e3840;
    color: #8ea1ac !important; }
  /* line 96, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/partials/_mixins.scss */
  .item-search :-ms-input-placeholder {
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #2e3840;
    color: #8ea1ac !important; }
  /* line 101, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/partials/_mixins.scss */
  .item-search :-moz-placeholder {
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #2e3840;
    color: #8ea1ac !important; }
  /* line 136, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .item-search input {
    outline: none;
    border: none;
    padding-left: 10%;
    padding-top: 3px;
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: white;
    background: #242932;
    height: 45px;
    width: 315px; }

/* line 145, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.lp-header-input-helper {
  display: inline-block;
  height: 52%; }

/* line 149, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.lp-content {
  width: 100%;
  background: white;
  overflow-x: hidden; }

/* line 155, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.lp-search-ico {
  margin-top: 3px;
  height: 18px; }

/* line 160, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.lp-pop-header {
  padding: 125px 0 45px 0;
  margin-top: -10px;
  margin-left: 15%; }
  /* line 164, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .lp-pop-header img {
    display: inline-block;
    margin-bottom: -5px; }
  /* line 168, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .lp-pop-header h1 {
    font-family: 'raleway';
    font-size: 30px;
    font-weight: 700;
    color: #2e3840;
    font-weight: 700;
    display: inline-block;
    vertical-align: super;
    margin-left: 5px;
    margin-right: -30px; }
  /* line 176, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .lp-pop-header h2 {
    display: inline-block;
    font-family: 'raleway';
    font-size: 24px;
    font-weight: 700;
    color: #8ea1ac;
    font-weight: 400;
    vertical-align: super;
    margin-left: 42px; }

/* line 185, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.items-main {
  background: #2e3840;
  text-align: center;
  position: relative;
  padding: 20px 0px 40px 0px; }

/* line 192, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.items-item {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 1700px; }

/* line 199, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.items-wr {
  display: inline-block;
  padding: 75px 0 75px 0;
  width: 70%;
  margin: auto;
  white-space: nowrap; }

/* line 207, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.main-items .items-wr {
  display: inline-block;
  padding: 90px 0px 40px 0px;
  width: 70%;
  margin: auto;
  white-space: nowrap; }

/* line 217, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.items-item-main-inf {
  display: inline-block; }
  /* line 219, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .items-item-main-inf h2 {
    font-family: 'raleway';
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    font-size: 36px;
    font-weight: 300; }
  /* line 224, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .items-item-main-inf a {
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #8ea1ac;
    position: relative;
    top: 15px; }

/* line 231, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.items-images-main {
  display: inline-block;
  margin-top: 25px;
  width: 330px;
  height: 219px;
  text-align: center;
  overflow: hidden;
  border: 2px solid #8ea1ac; }
  /* line 239, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .items-images-main img {
    position: relative;
    top: -40px;
    opacity: 0.6;
    max-width: 90%;
    display: inline-block;
    vertical-align: middle; }

/* line 248, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.items-images-main-helper {
  display: inline-block;
  height: 50%; }

/* line 252, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.items-images-components-part {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 223px;
  flex-direction: column; }

/* line 263, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.items-images-components {
  display: inline-block;
  vertical-align: top;
  margin-top: 25px;
  padding-right: 100px;
  border-right: solid 1px #8ea1ac; }

/* line 271, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.item-images-components-component {
  display: inline-block;
  overflow: hidden;
  width: 100px;
  height: 93.5%;
  border: 2px solid #8ea1ac;
  background: transparent;
  cursor: pointer; }
  /* line 279, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .item-images-components-component img {
    opacity: 0.95;
    max-width: 100%; }

/* line 285, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.items-component-details {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px; }
  /* line 289, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .items-component-details h3 {
    font-family: 'raleway';
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    font-weight: 300; }
  /* line 293, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .items-component-details h4 {
    font-family: 'raleway';
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    font-family: 'arial';
    color: #fff;
    margin-top: 0px;
    display: inline-block; }
  /* line 299, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .items-component-details span {
    display: inline-block;
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #8ea1ac;
    font-family: 'arial';
    color: #8ea1ac;
    font-size: 14px; }

/* line 307, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.item-images-components-wr {
  margin: 0 0 0 2px;
  overflow: hidden;
  position: relative;
  flex: 1; }

/* line 315, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.item-selected:first-of-type .item-images-components-component {
  background: #32ab7f;
  border: 2px solid #32ab7f; }

/* line 331, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.item-selected:nth-of-type(2) .item-images-components-component {
  background: #40bebf;
  border: 2px solid #40bebf; }

/* line 347, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.item-selected:nth-of-type(3) .item-images-components-component {
  background: #2a7c9e;
  border: 2px solid #2a7c9e; }

/* line 363, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.item-selected:nth-of-type(4) .item-images-components-component {
  background: #6abf40;
  border: 2px solid #6abf40; }

/* line 378, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.items-drag-note {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 210px; }
  /* line 382, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .items-drag-note img:first-of-type {
    transform: rotate(180deg); }
  /* line 385, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .items-drag-note img {
    position: relative;
    top: 5px; }
  /* line 389, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .items-drag-note span {
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #8ea1ac; }

/* line 394, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.item-slide-button:first-of-type {
  position: absolute;
  background: #32ab7f;
  outline: none;
  cursor: pointer;
  border: 0;
  padding: 1px;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  height: 38px;
  width: 38px;
  border-radius: 38px;
  left: calc(5% - 90px);
  top: 235px;
  margin: 0 90px;
  z-index: 2; }
  /* line 405, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .item-slide-button:first-of-type img {
    height: 18px;
    position: relative;
    top: 2px;
    left: -1px;
    transform: rotate(0deg); }

/* line 414, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.item-slide-button {
  position: absolute;
  background: #32ab7f;
  outline: none;
  cursor: pointer;
  border: 0;
  padding: 1px;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  height: 38px;
  width: 38px;
  border-radius: 38px;
  right: calc(5% - 90px);
  top: 235px;
  margin: 0 90px;
  z-index: 2; }
  /* line 425, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .item-slide-button img {
    transform: rotate(180deg);
    height: 18px;
    position: relative;
    top: 2px;
    left: 1px; }

/* line 434, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.item-slide-button:hover {
  background: #8ea1ac; }

/* line 438, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.lp-recent-items {
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative; }
  /* line 444, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .lp-recent-items h2 {
    font-family: 'raleway';
    font-size: 30px;
    font-weight: 600;
    color: #2e3540;
    padding-top: 85px; }

/* line 453, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
footer {
  background: #2e3840;
  text-align: center;
  padding: 90px 0; }

/* line 459, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.footer-logo {
  font-family: 'raleway';
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  font-size: 28px; }

/* line 464, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.footer-contact {
  margin-top: 50px;
  font-family: 'raleway';
  font-size: 16px;
  font-weight: 500;
  color: #8ea1ac;
  font-size: 20px; }
  /* line 468, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .footer-contact a {
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #8ea1ac;
    font-size: 20px;
    padding: 0 7px; }

/* line 475, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.footer-desc {
  line-height: 26px;
  margin-top: 25px;
  padding: 0 20px; }
  /* line 479, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .footer-desc span {
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #8ea1ac; }
    /* line 481, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
    .footer-desc span b {
      font-family: 'raleway';
      font-size: 16px;
      font-weight: 500;
      color: #b4c8d3; }

/* line 487, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.footer-social {
  margin-top: 50px;
  margin-bottom: -30px; }
  /* line 490, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .footer-social a {
    padding: 0 10px; }

/* line 495, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.lp-recent-items-wr {
  width: 100%;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 110px;
  white-space: nowrap; }

/* line 503, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.lp-recent-items-item {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 180px;
  cursor: pointer;
  border: 2px solid #8ea1ac;
  background: rgba(36, 43, 50, 0.8);
  margin: 0 15px; }
  /* line 513, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .lp-recent-items-item img {
    display: inline-block;
    vertical-align: middle;
    opacity: 0.4; }

/* line 519, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.lp-recent-items-helper {
  display: inline-block;
  height: 50%; }

/* line 523, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.lp-recent-items-info {
  bottom: 60px;
  position: absolute;
  width: 100%; }
  /* line 527, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .lp-recent-items-info h3 {
    font-family: 'raleway';
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    font-weight: 300; }
  /* line 531, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .lp-recent-items-info h4 {
    font-family: 'raleway';
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    font-family: 'arial';
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-top: 3px; }
  /* line 538, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .lp-recent-items-info span {
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    position: relative;
    top: 25px;
    opacity: 0.6; }

/* line 548, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.items-shade-l {
  position: absolute;
  left: 0;
  height: 100%;
  width: 20%;
  pointer-events: none;
  top: 0;
  z-index: 1;
  background: -webkit-linear-gradient(left, #2e3840, transparent);
  background: -o-linear-gradient(right, #2e3840, transparent);
  background: -moz-linear-gradient(right, #2e3840, transparent);
  background: linear-gradient(to right, #2e3840, transparent); }

/* line 562, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.items-shade-r {
  position: absolute;
  right: 0;
  height: 100%;
  width: 20%;
  pointer-events: none;
  top: 0;
  z-index: 1;
  background: -webkit-linear-gradient(left, transparent, #2e3840);
  background: -o-linear-gradient(right, transparent, #2e3840);
  background: -moz-linear-gradient(right, transparent, #2e3840);
  background: linear-gradient(to right, transparent, #2e3840); }

/* line 576, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.lp-recent-items-shade-l {
  position: absolute;
  left: 0;
  height: 100%;
  width: 20%;
  pointer-events: none;
  top: 0;
  z-index: 1;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.2), transparent);
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0.2), transparent);
  background: -moz-linear-gradient(right, rgba(255, 255, 255, 0.2), transparent);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), transparent); }

/* line 590, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.lp-recent-items-shade-r {
  position: absolute;
  right: 0;
  height: 100%;
  width: 20%;
  pointer-events: none;
  top: 0;
  z-index: 1;
  background: -webkit-linear-gradient(left, transparent, rgba(255, 255, 255, 0.2));
  background: -o-linear-gradient(right, transparent, rgba(255, 255, 255, 0.2));
  background: -moz-linear-gradient(right, transparent, rgba(255, 255, 255, 0.2));
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2)); }

/* line 604, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.lp-recent-bg {
  position: absolute;
  top: -10%;
  height: 110%;
  width: 100%;
  z-index: -1; }

/* line 612, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.top-nav-bot-ico {
  position: relative;
  top: 7px;
  margin-right: 6px;
  height: 30px; }

/* line 619, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.top-nav-mobile {
  display: inline-block;
  float: right;
  cursor: pointer;
  padding: 0 20px; }
  /* line 624, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .top-nav-mobile img {
    position: relative;
    top: 4px; }

/* line 630, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.top-nav-search {
  display: inline-block; }
  /* line 86, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/partials/_mixins.scss */
  .top-nav-search ::-webkit-input-placeholder {
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #2e3840;
    color: #8ea1ac !important; }
  /* line 91, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/partials/_mixins.scss */
  .top-nav-search ::-moz-placeholder {
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #2e3840;
    color: #8ea1ac !important; }
  /* line 96, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/partials/_mixins.scss */
  .top-nav-search :-ms-input-placeholder {
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #2e3840;
    color: #8ea1ac !important; }
  /* line 101, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/partials/_mixins.scss */
  .top-nav-search :-moz-placeholder {
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #2e3840;
    color: #8ea1ac !important; }
  /* line 633, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .top-nav-search input {
    outline: none;
    border: none;
    padding-left: 10%;
    padding-top: 3px;
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #8ea1ac;
    background: rgba(255, 255, 255, 0.1);
    margin-left: 50px;
    height: 35px;
    border: 0.1em solid #acc2cf;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    opacity: 0; }

/* line 645, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.lp-header-border {
  padding: 5px 0; }

@media (max-width: 100em) {
  /* line 651, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .items-item {
    width: 60vw;
    min-width: 500px; }
  /* line 656, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .items-item .items-item-stats {
    display: none;
    position: relative;
    top: 90px;
    right: 90px;
    padding-top: 30px;
    padding-bottom: 90px;
    width: 300px;
    text-align: left; }
  /* line 667, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .items-item .items-images-components {
    border: none; }
  /* line 670, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .items-item .items-item-main-inf {
    display: block; } }

@media (max-width: 73em) {
  /* line 678, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .top-nav-links a:nth-of-type(2) {
    display: none; } }

@media (max-width: 60em) {
  /* line 684, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .top-nav-links a {
    display: none; } }

@media (max-width: 40em) {
  /* line 690, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .top-nav-search {
    display: none; } }

@media (max-width: 30em) {
  /* line 696, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .lp-header-input-container button {
    width: 350px;
    margin-left: 5px; } }

@media (max-width: 54em) {
  /* line 703, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .lp-header-border {
    opacity: 0;
    padding: 0px 0; } }

/* line 710, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.chart {
  height: 255px;
  width: 620px;
  z-index: 5;
  opacity: 1; }

/* line 719, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.hidden {
  height: 0; }

/* line 723, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.items-item-stats {
  display: inline-block;
  vertical-align: top;
  margin-left: 90px; }
  /* line 727, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .items-item-stats h2 {
    font-family: 'raleway';
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    font-size: 36px;
    font-weight: 300;
    padding-bottom: 25px; }

/* line 737, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.input-container {
  padding-top: 10px;
  height: 10vh;
  min-height: 150px;
  margin: -20px 0;
  width: 70%;
  margin: auto; }
  /* line 744, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .input-container button {
    background: #32ab7f;
    outline: none;
    cursor: pointer;
    border: 0;
    padding: 1px;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    height: 49px;
    vertical-align: middle;
    width: 42px;
    margin-left: 0px; }
  /* line 752, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .input-container button:hover,
  .input-container button:focus {
    background: #2e3840;
    outline: none;
    cursor: pointer;
    border: 0;
    padding: 1px;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s; }

/* line 757, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.main-content {
  background: transparent !important; }

/* line 761, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.main-item-bot {
  padding: 80px 0px;
  width: 100%;
  background: white;
  text-align: center; }
  /* line 766, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .main-item-bot h3 {
    font-family: 'raleway';
    font-size: 24px;
    font-weight: 700;
    color: #6a7880; }
  /* line 769, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .main-item-bot span:first-of-type {
    opacity: 0.7;
    font-size: 18px; }
  /* line 773, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .main-item-bot span {
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #4e5c64; }
  /* line 776, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .main-item-bot img {
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    padding: 0 0 30px 0;
    -webkit-filter: grayscale(0.9);
    filter: grayscale(0.9);
    opacity: 0.6; }
  /* line 783, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .main-item-bot img:hover {
    opacity: 1;
    -webkit-filter: grayscale(0);
    filter: grayscale(0); }
  /* line 788, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .main-item-bot a:hover {
    opacity: 1; }

/* line 793, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.main-items-item {
  display: inline-block;
  text-align: left; }

/* line 798, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.main-item {
  display: inline-block;
  vertical-align: top; }

/* line 803, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.main-item-headline-fix {
  margin-left: -320px;
  pointer-events: none; }

/* line 808, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.main-items {
  background: #2e3840;
  position: relative;
  text-align: center;
  margin-top: -16px; }

/* line 815, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.main-stats {
  position: relative;
  padding-right: 50px;
  height: 223px;
  border-right: solid 1px #8ea1ac; }

/* line 822, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.top-spacing {
  background: white;
  height: 90px; }

/* line 827, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.items-chart-2nd {
  position: relative;
  left: -170px;
  top: -50px; }

/* line 833, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.supply-inner-text {
  position: relative;
  top: 145px;
  font-family: 'raleway';
  font-size: 16px;
  font-weight: 500;
  color: #8ea1ac; }
  /* line 838, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .supply-inner-text em {
    color: white; }
  /* line 841, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .supply-inner-text number {
    font-family: 'arial';
    color: #8ea1ac;
    position: relative;
    top: 5px;
    font-size: 28px; }

/* line 849, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.item-options {
  background: #181b21;
  padding: 30px 0;
  text-align: center; }

/* line 855, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.item-options-buyers {
  display: inline-block;
  padding: 0 30px;
  opacity: 0.7;
  font-family: 'raleway';
  font-size: 16px;
  font-weight: 500;
  color: #8ea1ac;
  text-transform: uppercase;
  cursor: default; }
  /* line 862, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .item-options-buyers span {
    display: inline-block;
    vertical-align: middle; }
  /* line 867, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .item-options-buyers span:nth-of-type(2) {
    opacity: 0.5;
    margin-left: 5px; }

/* line 873, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.item-options-ico {
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 36px;
  border-radius: 36px;
  border: 2px solid #8ea1ac;
  margin-right: 10px; }
  /* line 882, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .item-options-ico img {
    position: relative;
    top: 9px; }

/* line 888, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.javascript-notf {
  background: #f2433a; }

/* line 892, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.javascript-notf-container {
  text-align: center;
  color: white;
  padding: 20px 0; }

/* line 899, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.js-sub-span a {
  color: white;
  opacity: 0.7; }

/* line 905, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.item-search {
  background: rgba(24, 27, 33, 0.8); }

/* line 909, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.generic-desc {
  margin-top: 30px; }

/* line 913, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.nexusbot-donate {
  margin-top: 40px; }

/* line 917, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.nexusbot-forms {
  padding: 40px 0; }
  /* line 920, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .nexusbot-forms h3 {
    font-family: 'raleway';
    font-size: 24px;
    font-weight: 700;
    color: #2e3840;
    margin-top: 40px; }
  /* line 924, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .nexusbot-forms input {
    outline: none;
    border: none;
    padding-left: 10%;
    padding-top: 3px;
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #8ea1ac;
    margin-top: 10px;
    padding: 15px 40px;
    background: #dee3e6; }
    /* line 86, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/partials/_mixins.scss */
    .nexusbot-forms input ::-webkit-input-placeholder {
      font-family: 'raleway';
      font-size: 16px;
      font-weight: 500;
      color: #2e3840;
      color: #8ea1ac !important; }
    /* line 91, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/partials/_mixins.scss */
    .nexusbot-forms input ::-moz-placeholder {
      font-family: 'raleway';
      font-size: 16px;
      font-weight: 500;
      color: #2e3840;
      color: #8ea1ac !important; }
    /* line 96, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/partials/_mixins.scss */
    .nexusbot-forms input :-ms-input-placeholder {
      font-family: 'raleway';
      font-size: 16px;
      font-weight: 500;
      color: #2e3840;
      color: #8ea1ac !important; }
    /* line 101, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/partials/_mixins.scss */
    .nexusbot-forms input :-moz-placeholder {
      font-family: 'raleway';
      font-size: 16px;
      font-weight: 500;
      color: #2e3840;
      color: #8ea1ac !important; }
  /* line 932, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .nexusbot-forms button {
    background: #2e3840;
    outline: none;
    cursor: pointer;
    border: 0;
    padding: 1px;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    margin-top: 20px;
    padding: 10px 25px;
    font-family: 'raleway';
    font-size: 16px;
    font-weight: 500;
    color: #8ea1ac; }
  /* line 938, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .nexusbot-forms button:hover {
    background: #32ab7f !important;
    color: white; }

/* line 944, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.nexusbot-bot {
  text-align: left;
  margin-top: 10px;
  margin-bottom: -30px; }
  /* line 948, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .nexusbot-bot span {
    padding-bottom: 15px; }

/* line 953, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.alert {
  display: inline-block;
  font-family: 'raleway';
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 15px 30px;
  background: #f2433a;
  margin-top: 10px; }

/* line 961, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.alert-success {
  background: #32ab7f; }

/* line 965, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.items-images-main-conent {
  position: relative;
  top: 140px;
  z-index: 2; }
  /* line 970, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .items-images-main-conent .items-images-main-text {
    font-family: 'raleway';
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    font-weight: 300; }
  /* line 974, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .items-images-main-conent .items-images-main-price {
    font-family: 'raleway';
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    font-family: 'arial';
    color: #fff;
    margin-top: 0px;
    display: inline-block; }

/* line 982, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.lp-header-vidbg {
  position: absolute;
  min-width: 115vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.4; }

/* line 996, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.error-top-part {
  width: 100%;
  text-align: center;
  background: #2e3840; }
  /* line 1001, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .error-top-part h1 {
    font-family: 'raleway';
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    padding-top: 32vh;
    font-size: 42px; }
  /* line 1006, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
  .error-top-part h2 {
    font-family: 'raleway';
    font-size: 24px;
    font-weight: 700;
    color: #8ea1ac;
    font-weight: 300;
    margin-top: 10px;
    padding-bottom: 25vh; }

/* line 1014, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.main {
  background: #fff; }

/* line 1018, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.error-body {
  background: white; }

/* line 1022, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.error-bot-part {
  background: #8ea1ac; }

/* line 1026, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.video-wrapper {
  position: absolute;
  overflow-x: hidden; }

/* line 1031, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.top-logo-img {
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  position: relative;
  bottom: 2px; }

/* line 1039, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/screen.scss */
.footer-logo-img {
  height: 46px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  bottom: 4px; }

/* line 29, C:/Users/Mads_Jakobsen/WarframeNexus/assets/styles/importer.scss */
.nav-sticky {
  position: absolute;
  z-index: 5;
  width: 100%; }

/*# sourceMappingURL=importer.css.map */
