/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, sass/screen.scss */
body {
  font-family: 'raleway';
  font-size: 18px;
  font-weight: 500;
  color: #3f4958;
  background: white;
  overflow-x: hidden;
}

/* line 16, sass/screen.scss */
.lp-bg {
  position: fixed;
  z-index: -1;
  min-height: 100%;
  min-width: 100%;
}

/* line 24, sass/screen.scss */
.top-nav {
  position: fixed;
  height: 90px;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  line-height: 90px;
}

/* line 32, sass/screen.scss */
.top-logo {
  display: inline-block;
  margin-left: 5%;
  font-family: 'raleway';
  font-size: 22px;
  font-weight: 700;
  color: #3f4958;
}

/* line 38, sass/screen.scss */
.top-logo:hover {
  text-decoration: none;
}

/* line 42, sass/screen.scss */
.top-logo-text {
  font-weight: 500;
  margin-right: 1px;
}

/* line 47, sass/screen.scss */
.top-logo-sub {
  font-family: 'raleway';
  font-size: 18px;
  font-weight: 700;
  color: #8ea1ac;
  margin-left: 5px;
}

/* line 52, sass/screen.scss */
.top-nav-links {
  display: inline-block;
  float: right;
  margin-right: 5%;
}
/* line 57, sass/screen.scss */
.top-nav-links a:first-of-type {
  font-family: 'raleway';
  font-size: 18px;
  font-weight: 700;
  color: #3f4958;
}
/* line 61, sass/screen.scss */
.top-nav-links a {
  font-family: 'raleway';
  font-size: 18px;
  font-weight: 700;
  color: #8ea1ac;
  float: right;
  padding: 0 15px;
}

/* line 68, sass/screen.scss */
a:hover {
  text-decoration: none;
}
