/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, sass/screen.scss */
body {
  font-family: 'raleway';
  font-size: 16px;
  font-weight: 500;
  color: #2e3540;
  background: white;
  overflow-x: hidden;
}

/* line 15, sass/screen.scss */
.lp-bg {
  position: fixed;
  z-index: -1;
  min-height: 100%;
  min-width: 100%;
}

/* line 22, sass/screen.scss */
.top-nav {
  position: fixed;
  z-index: 5;
  height: 90px;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  line-height: 90px;
}

/* line 31, sass/screen.scss */
.top-logo {
  display: inline-block;
  margin-left: 5%;
  font-family: 'raleway';
  font-size: 22px;
  font-weight: 700;
  color: #2e3540;
}

/* line 39, sass/screen.scss */
.top-logo-text {
  font-weight: 300;
  margin-right: 1px;
}

/* line 44, sass/screen.scss */
.top-logo-sub {
  font-family: 'raleway';
  font-size: 18px;
  font-weight: 700;
  color: #8ea1ac;
  margin-left: 5px;
}

/* line 49, sass/screen.scss */
.top-nav-links {
  display: inline-block;
  float: right;
  margin-right: 5%;
  margin-top: 2px;
}
/* line 54, sass/screen.scss */
.top-nav-links a:first-of-type {
  font-family: 'raleway';
  font-size: 18px;
  font-weight: 700;
  color: #2e3540;
}
/* line 57, sass/screen.scss */
.top-nav-links a {
  font-family: 'raleway';
  font-size: 18px;
  font-weight: 700;
  color: #8ea1ac;
  float: right;
  padding: 0 15px;
}

/* line 64, sass/screen.scss */
a {
  text-decoration: none !important;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
}

/* line 69, sass/screen.scss */
a:hover {
  opacity: 0.7;
}

/* line 73, sass/screen.scss */
.lp-header {
  text-align: center;
}

/* line 77, sass/screen.scss */
.lp-header-headline {
  font-family: 'raleway';
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  font-size: 54px;
  text-transform: uppercase;
}

/* line 83, sass/screen.scss */
.lp-header-headline-container {
  padding: 22vh 10vw;
  position: relative;
  top: 5vh;
}

/* line 89, sass/screen.scss */
em {
  color: #32ab7f;
  font-weight: 600;
}

/* line 94, sass/screen.scss */
b {
  font-weight: 700;
}

/* line 98, sass/screen.scss */
.lp-header-sub {
  font-family: 'raleway';
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  font-weight: 400;
  margin-top: 10px;
}

/* line 104, sass/screen.scss */
.lp-header-input-container {
  height: 25vh;
  min-height: 150px;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}
/* line 110, sass/screen.scss */
.lp-header-input-container button {
  background: #32ab7f;
  outline: none;
  cursor: pointer;
  border: 0;
  padding: 1px;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  height: 49px;
  vertical-align: middle;
  width: 42px;
  margin-left: 0px;
}
/* line 117, sass/screen.scss */
.lp-header-input-container button:hover,
.lp-header-input-container button:focus {
  background: #2e3540;
  outline: none;
  cursor: pointer;
  border: 0;
  padding: 1px;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
}

/* line 123, sass/screen.scss */
.lp-header-input {
  display: inline-block;
  vertical-align: middle;
}
/* line 86, sass/partials/_mixins.scss */
.lp-header-input ::-webkit-input-placeholder {
  font-family: 'raleway';
  font-size: 16px;
  font-weight: 500;
  color: #8ea1ac;
}
/* line 90, sass/partials/_mixins.scss */
.lp-header-input ::-moz-placeholder {
  font-family: 'raleway';
  font-size: 16px;
  font-weight: 500;
  color: #8ea1ac;
}
/* line 94, sass/partials/_mixins.scss */
.lp-header-input :-ms-input-placeholder {
  font-family: 'raleway';
  font-size: 16px;
  font-weight: 500;
  color: #8ea1ac;
}
/* line 98, sass/partials/_mixins.scss */
.lp-header-input :-moz-placeholder {
  font-family: 'raleway';
  font-size: 16px;
  font-weight: 500;
  color: #8ea1ac;
}
/* line 126, sass/screen.scss */
.lp-header-input input {
  outline: none;
  border: none;
  padding-left: 10%;
  padding-top: 3px;
  font-family: 'raleway';
  font-size: 16px;
  font-weight: 500;
  color: #2e3540;
  background: white;
  height: 45px;
  width: 315px;
}

/* line 135, sass/screen.scss */
.lp-header-input-helper {
  display: inline-block;
  height: 50%;
}

/* line 139, sass/screen.scss */
.lp-content {
  width: 100%;
  background: white;
}
/* line 143, sass/screen.scss */
.lp-content svg {
  position: absolute;
  height: 0;
}

/* line 149, sass/screen.scss */
.lp-search-ico {
  margin-top: 3px;
  height: 18px;
}

/* line 154, sass/screen.scss */
.lp-pop-header {
  padding: 125px 0 45px 0;
  margin-top: -10px;
  margin-left: 15%;
}
/* line 158, sass/screen.scss */
.lp-pop-header img {
  display: inline-block;
  margin-bottom: -5px;
}
/* line 163, sass/screen.scss */
.lp-pop-header h1 {
  font-family: 'raleway';
  font-size: 30px;
  font-weight: 600;
  color: #2e3540;
  font-weight: 700;
  display: inline-block;
  vertical-align: super;
  margin-left: 5px;
  margin-right: -30px;
}
/* line 172, sass/screen.scss */
.lp-pop-header h2 {
  display: inline-block;
  font-family: 'raleway';
  font-size: 24px;
  font-weight: 600;
  color: #8ea1ac;
  vertical-align: super;
  margin-left: 42px;
}

/* line 180, sass/screen.scss */
.items-main {
  background: #2e3540;
  text-align: center;
  position: relative;
}

/* line 186, sass/screen.scss */
.items-item {
  width: 100%;
  display: inline-block;
  text-align: left;
}

/* line 192, sass/screen.scss */
.items-wr {
  display: inline-block;
  padding: 75px 0 75px 0;
  width: 70%;
  margin: auto;
  white-space: nowrap;
}

/* line 201, sass/screen.scss */
.items-item-main-inf h2 {
  font-family: 'raleway';
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  font-size: 36px;
  font-weight: 300;
}
/* line 207, sass/screen.scss */
.items-item-main-inf a {
  font-family: 'raleway';
  font-size: 16px;
  font-weight: 500;
  color: #8ea1ac;
  position: relative;
  top: 15px;
}

/* line 214, sass/screen.scss */
.items-images-main {
  display: inline-block;
  margin-top: 25px;
  width: 330px;
  height: 219px;
  text-align: center;
  overflow: hidden;
  border: 2px solid #8ea1ac;
}
/* line 223, sass/screen.scss */
.items-images-main img {
  display: inline-block;
  vertical-align: middle;
}

/* line 228, sass/screen.scss */
.items-images-main-helper {
  display: inline-block;
  height: 50%;
}

/* line 232, sass/screen.scss */
.items-images-components-part {
  display: inline-block;
}

/* line 236, sass/screen.scss */
.items-images-components {
  display: inline-block;
  vertical-align: top;
  margin-top: 25px;
}

/* line 242, sass/screen.scss */
.item-images-components-component {
  display: inline-block;
  width: 100px;
  height: 67px;
  border: 2px solid #8ea1ac;
  background: #8ea1ac;
  cursor: pointer;
}
/* line 250, sass/screen.scss */
.item-images-components-component img {
  opacity: 0.8;
  min-height: 100%;
  min-width: 100%;
}

/* line 257, sass/screen.scss */
.items-component-details {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}
/* line 262, sass/screen.scss */
.items-component-details h3 {
  font-family: 'raleway';
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  font-weight: 300;
}
/* line 267, sass/screen.scss */
.items-component-details h4 {
  font-family: 'raleway';
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  font-family: 'arial';
  color: #fff;
  margin-top: 3px;
  display: inline-block;
}
/* line 274, sass/screen.scss */
.items-component-details span {
  display: inline-block;
  font-family: 'raleway';
  font-size: 16px;
  font-weight: 500;
  color: #8ea1ac;
  font-family: 'arial';
  color: #8ea1ac;
  font-size: 14px;
}

/* line 282, sass/screen.scss */
.item-images-components-wr {
  margin: 0 0 4px 0;
}

/* line 287, sass/screen.scss */
.item-selected .item-images-components-component {
  background: #32ab7f;
  border: 2px solid #32ab7f;
}
/* line 292, sass/screen.scss */
.item-selected .item-images-components-component img {
  opacity: 0.5;
}
/* line 295, sass/screen.scss */
.item-selected .items-component-details h3 {
  color: #32ab7f;
}
/* line 298, sass/screen.scss */
.item-selected .items-component-details h4 {
  color: #32ab7f;
}

/* line 303, sass/screen.scss */
.items-drag-note {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 210px;
}
/* line 308, sass/screen.scss */
.items-drag-note img:first-of-type {
  transform: rotate(180deg);
}
/* line 312, sass/screen.scss */
.items-drag-note img {
  position: relative;
  top: 5px;
}
/* line 317, sass/screen.scss */
.items-drag-note span {
  font-family: 'raleway';
  font-size: 16px;
  font-weight: 500;
  color: #8ea1ac;
}

/* line 324, sass/screen.scss */
.item-slide-button:first-of-type {
  position: absolute;
  background: #32ab7f;
  outline: none;
  cursor: pointer;
  border: 0;
  padding: 1px;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  height: 38px;
  width: 38px;
  border-radius: 38px;
  left: calc(5% - 90px);
  top: 210px;
  margin: 0 90px;
}
/* line 334, sass/screen.scss */
.item-slide-button:first-of-type img {
  height: 18px;
  position: relative;
  top: 2px;
  left: -1px;
  transform: rotate(0deg);
}

/* line 343, sass/screen.scss */
.item-slide-button {
  position: absolute;
  background: #32ab7f;
  outline: none;
  cursor: pointer;
  border: 0;
  padding: 1px;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  height: 38px;
  width: 38px;
  border-radius: 38px;
  right: calc(5% - 90px);
  top: 210px;
  margin: 0 90px;
  z-index: 2;
}
/* line 354, sass/screen.scss */
.item-slide-button img {
  transform: rotate(180deg);
  height: 18px;
  position: relative;
  top: 2px;
  left: 1px;
}

/* line 365, sass/screen.scss */
.item-slide-button:hover {
  background: #8ea1ac;
}

/* line 369, sass/screen.scss */
.lp-recent-items {
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  text-align: center;
  position: relative;
}
/* line 375, sass/screen.scss */
.lp-recent-items h2 {
  font-family: 'raleway';
  font-size: 30px;
  font-weight: 600;
  color: #2e3540;
  padding-top: 85px;
}

/* line 381, sass/screen.scss */
footer {
  background: #2e3540;
  text-align: center;
  padding: 90px 0;
}

/* line 387, sass/screen.scss */
.footer-logo {
  font-family: 'raleway';
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

/* line 391, sass/screen.scss */
.footer-contact {
  margin-top: 50px;
  font-family: 'raleway';
  font-size: 16px;
  font-weight: 500;
  color: #8ea1ac;
  font-size: 20px;
}
/* line 396, sass/screen.scss */
.footer-contact a {
  font-family: 'raleway';
  font-size: 16px;
  font-weight: 500;
  color: #8ea1ac;
  font-size: 20px;
  padding: 0 2px;
}

/* line 403, sass/screen.scss */
.footer-desc {
  line-height: 26px;
  margin-top: 25px;
}
/* line 407, sass/screen.scss */
.footer-desc span {
  font-family: 'raleway';
  font-size: 16px;
  font-weight: 500;
  color: #8ea1ac;
}
/* line 409, sass/screen.scss */
.footer-desc span b {
  font-family: 'raleway';
  font-size: 16px;
  font-weight: 500;
  color: #b4c8d3;
}

/* line 415, sass/screen.scss */
.footer-social {
  margin-top: 50px;
  margin-bottom: -30px;
}
/* line 419, sass/screen.scss */
.footer-social a {
  padding: 0 10px;
}

/* line 424, sass/screen.scss */
.lp-recent-items-wr {
  width: 100%;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 110px;
  white-space: nowrap;
}

/* line 432, sass/screen.scss */
.lp-recent-items-item {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 180px;
  cursor: pointer;
  border: 2px solid #8ea1ac;
  background: rgba(36, 43, 50, 0.8);
  margin: 0 10px;
}
/* line 442, sass/screen.scss */
.lp-recent-items-item img {
  display: inline-block;
  vertical-align: middle;
  opacity: 0.4;
}

/* line 448, sass/screen.scss */
.lp-recent-items-helper {
  display: inline-block;
  height: 50%;
}

/* line 452, sass/screen.scss */
.lp-recent-items-info {
  bottom: 45px;
  position: absolute;
  width: 100%;
}
/* line 457, sass/screen.scss */
.lp-recent-items-info h3 {
  font-family: 'raleway';
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  font-weight: 300;
}
/* line 461, sass/screen.scss */
.lp-recent-items-info h4 {
  font-family: 'raleway';
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  font-family: 'arial';
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin-top: 3px;
}
/* line 468, sass/screen.scss */
.lp-recent-items-info span {
  font-family: 'raleway';
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  position: relative;
  top: 25px;
  opacity: 0.6;
}

/* line 478, sass/screen.scss */
.items-shade-l {
  position: absolute;
  left: 0;
  height: 100%;
  width: 20%;
  pointer-events: none;
  top: 0;
  z-index: 1;
  background: -webkit-linear-gradient(left, #2e3540, transparent);
  background: -o-linear-gradient(right, #2e3540, transparent);
  background: -moz-linear-gradient(right, #2e3540, transparent);
  background: linear-gradient(to right, #2e3540, transparent);
}

/* line 493, sass/screen.scss */
.items-shade-r {
  position: absolute;
  right: 0;
  height: 100%;
  width: 20%;
  pointer-events: none;
  top: 0;
  z-index: 1;
  background: -webkit-linear-gradient(left, transparent, #2e3540);
  background: -o-linear-gradient(right, transparent, #2e3540);
  background: -moz-linear-gradient(right, transparent, #2e3540);
  background: linear-gradient(to right, transparent, #2e3540);
}

/* line 507, sass/screen.scss */
.lp-recent-items-shade-l {
  position: absolute;
  left: 0;
  height: 100%;
  width: 20%;
  pointer-events: none;
  top: 0;
  z-index: 1;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.2), transparent);
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0.2), transparent);
  background: -moz-linear-gradient(right, rgba(255, 255, 255, 0.2), transparent);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), transparent);
}

/* line 521, sass/screen.scss */
.lp-recent-items-shade-r {
  position: absolute;
  right: 0;
  height: 100%;
  width: 20%;
  pointer-events: none;
  top: 0;
  z-index: 1;
  background: -webkit-linear-gradient(left, transparent, rgba(255, 255, 255, 0.2));
  background: -o-linear-gradient(right, transparent, rgba(255, 255, 255, 0.2));
  background: -moz-linear-gradient(right, transparent, rgba(255, 255, 255, 0.2));
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2));
}
