/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "partials/variables";
@import "partials/mixins";

body{
    @include font-default($color-base);
    background:white;
    overflow-x:hidden;
}

.lp-bg {
    position:fixed;
    z-index:-1;
    min-height:100%;
    min-width:100%;

}

.top-nav {
    position:fixed;
    height:90px;
    width:100%;
    background:rgba(255,255,255,0.8);
    line-height:90px;
}

.top-logo {
    display:inline-block;
    margin-left:5%;
    @include font-logo($color-base);
}

.top-logo:hover{
    text-decoration: none;
}

.top-logo-text {
    font-weight:500;
    margin-right:1px;
}

.top-logo-sub {
    @include font-default-bold($color-subtle);
    margin-left:5px;
}

.top-nav-links {
    display:inline-block;
    float:right;
    margin-right:5%;

    a:first-of-type{
        @include font-default-bold($color-base);
    }

    a{
        @include font-default-bold($color-subtle);
        float:right;
        padding:0 15px;
    }
}

a:hover{
    text-decoration:none;
}
