/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "partials/variables";
@import "partials/mixins";
body {
    @include font-default($color-base);
    background: url('../../img/lp_bg.jpg');
    overflow-x: hidden;
}

.lp-bg {
    position:fixed;
    z-index: -1;
    min-height: 100%;
    min-width: 100%;
}


.top-nav {
    position: fixed;
    z-index: 5;
    height: 90px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    line-height: 90px;
}

.top-logo {
    display: inline-block;
    margin-left: 5%;
    @include font-logo($color-base);
}



.top-logo-text {
    font-weight: 300;
    margin-right: 1px;
}

.top-logo-sub {
    @include font-default-bold($color-subtle);
    margin-left: 5px;
}

.top-nav-links {
    display: inline-block;
    float: right;
    margin-right: 5%;
    margin-top: 2px;
    a:first-of-type {
        @include font-default-bold($color-base);
    }
    a {
        @include font-default-bold($color-subtle);
        float: right;
        padding: 0 15px;
    }
}

a {
    text-decoration: none !important;
    @include ease(0.15s);
}

a:hover {
    opacity:0.7;
}

.lp-header {
    text-align: center;
}

.lp-header-headline {
    @include font-title($color-on-bg);
    font-size: 54px;
    text-transform: uppercase;
}

.lp-header-headline-container {
    padding: 22vh 10vw;
    position: relative;
    top: 5vh;
}

em {
    color:$color-accent;
    font-weight: 600;
}

b{
    font-weight: 700;
}

.lp-header-sub {
    @include font-title($color-on-bg);
    font-weight: 400;
    margin-top: 10px;
}

.lp-header-input-container {
    height: 25vh;
    min-height: 150px;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    button {
        @include input-button($color-accent);
        height: 49px;
        vertical-align: middle;
        width: 42px;
        margin-left: 0px;
    }
    button:hover,
    button:focus {
        @include input-button($color-base);
    }
}

.lp-header-input {
    @include vertical-align;
    @include input-placeholder;
    input {
        @include input;
        @include font-default($color-base);
        background: white;
        height: 45px;
        width: 315px;
    }
}

.lp-header-input-helper {
    @include vertical-align-helper(50%);
}

.lp-content {
    width: 100%;
    background: white;

    svg{
        position:absolute;
        height:0;
    }
}

.lp-search-ico {
    margin-top: 3px;
    height: 18px;
}

.lp-pop-header {
    padding: 125px 0 45px 0;
    margin-top:-10px;
    margin-left: 15%;
    img {
        display: inline-block;
        margin-bottom:-5px;
    }

    h1 {
        @include font-title($color-base);
        font-weight: 700;
        display: inline-block;
        vertical-align: super;
        margin-left: 5px;
        margin-right:-30px;
    }

     h2{
        display:inline-block;
        @include font-small-title($color-subtle);
    vertical-align:super;
        margin-left:42px;
    }

}
.items-main {
    background:$color-base;
    text-align:center;
    position:relative;
}

.items-item {
    width:100%;
    display:inline-block;
    text-align: left;
}

.items-wr {
    display:inline-block;
    padding:75px 0 75px 0;
    width:70%;
    margin:auto;
    white-space: nowrap;
}

.items-item-main-inf {
    h2{
        @include font-title($color-on-bg);
        font-size:36px;
        font-weight:300;
    }

    a{
        @include font-default($color-subtle);
        position:relative;
        top:15px;
    }
}

.items-images-main {
    display:inline-block;
    margin-top:25px;
    width:330px;
    height:219px;
    text-align:center;
    overflow:hidden;
    border:2px solid $color-subtle;

    img{
        @include vertical-align;
    }
}

.items-images-main-helper {
    @include vertical-align-helper(50%);
}

.items-images-components-part {
    display:inline-block;
}

.items-images-components {
    display:inline-block;
    vertical-align: top;
    margin-top:25px;
}

.item-images-components-component {
    display:inline-block;
    width:100px;
    height:67px;
    border:2px solid $color-subtle;
    background: $color-subtle;
    cursor:pointer;

    img{
        opacity:0.8;
        min-height:100%;
        min-width:100%;
    }
}

.items-component-details {
    display:inline-block;
    vertical-align: top;
    margin-left:5px;

    h3{
        @include font-small-title($color-on-bg);
        font-weight:300;
    }

    h4{
        @include font-small-title($color-on-bg);
        @include font-number($color-on-bg);
        margin-top:3px;
        display:inline-block;
    }

    span{
        display:inline-block;
        @include font-default($color-subtle);
        @include font-number($color-subtle);
        font-size:14px;
    }
}

.item-images-components-wr{
    margin: 0 0 4px 0;
}

.item-selected {
    .item-images-components-component{
        background:$color-accent;
        border:2px solid $color-accent;
    }

    .item-images-components-component img{
        opacity:0.5;
    }
    .items-component-details h3{
        color:$color-accent;
    }
    .items-component-details h4{
        color:$color-accent;
    }
}

.items-drag-note {
   text-align: center;
    margin-top:30px;
    padding-bottom:210px;

    img:first-of-type{
        transform:rotate(180deg);
    }

    img{
        position:relative;
        top:5px;
    }

    span{
        @include font-default($color-subtle);
    }
}



.item-slide-button:first-of-type {
    position:absolute;
    @include input-button($color-accent);
    height:38px;
    width:38px;
    border-radius:38px;
    left:calc(5% - 90px);
    top:210px;
    margin:0 90px;

    img{
        height:18px;
        position:relative;
        top:2px;
        left:-1px;
        transform:rotate(0deg);
    }
}

.item-slide-button{
    position:absolute;
    @include input-button($color-accent);
    height:38px;
    width:38px;
    border-radius:38px;
    right:calc(5% - 90px);
    top:210px;
    margin:0 90px;
    z-index:2;

    img{
        transform:rotate(180deg);
        height:18px;
        position:relative;
        top:2px;
        left:1px;
    }
}



.item-slide-button:hover{
    background:$color-subtle;
}

.lp-recent-items {
    background:rgba(255,255,255,0.7);
    width:100%;
    text-align:center;
    position:relative;

    h2{
      @include font-title($color-base);
        padding-top:85px;
    }
}

footer {
    background:$color-base;
    text-align: center;
    padding:90px 0;
}

.footer-logo {
    @include font-logo($color-on-bg);
}

.footer-contact {
    margin-top:50px;
     @include font-default($color-subtle);
        font-size:20px;

    a{
        @include font-default($color-subtle);
        font-size:20px;
        padding:0 2px;
    }
}

.footer-desc {
    line-height:26px;
    margin-top:25px;
    padding:0 20px;

    span{
            @include font-default($color-subtle);
        b{
                @include font-default(#b4c8d3);
        }
    }
}

.footer-social {
    margin-top:50px;
    margin-bottom:-30px;

    a{
        padding:0 10px;
    }
}

.lp-recent-items-wr {
    width:100%;
    margin:auto;
    padding-top:60px;
    padding-bottom:110px;
    white-space:nowrap;
}

.lp-recent-items-item {
    display:inline-block;
    position:relative;
    width:300px;
    height:180px;
    cursor:pointer;
    border:2px solid $color-subtle;
    background: rgba(36,43,50,0.8);
    margin:0 15px;

    img{
        @include vertical-align;
        opacity:0.4;
    }
}

.lp-recent-items-helper {
    @include vertical-align-helper(50%);
}

.lp-recent-items-info {
    bottom:45px;
    position:absolute;
    width:100%;

    h3{
        @include font-title($color-on-bg);
        font-weight:300;
    }
    h4{
        @include font-small-title($color-on-bg);
        @include font-number($color-on-bg);
        font-size:20px;
        font-weight:300;
        margin-top:3px;
    }
    span{
        @include font-default($color-on-bg);
        font-weight:300;
        font-size:16px;
        position:relative;
        top:25px;
        opacity:0.6;
    }
}

.items-shade-l {
    position:absolute;
    left:0;
    height:100%;
    width:20%;
    pointer-events:none;
    top:0;
    z-index:1;
  background: -webkit-linear-gradient(left, $color-base , transparent);
  background: -o-linear-gradient(right, $color-base , transparent);
  background: -moz-linear-gradient(right, $color-base , transparent);
  background: linear-gradient(to right, $color-base , transparent);
}


.items-shade-r {
        position:absolute;
    right:0;
    height:100%;
    width:20%;
    pointer-events:none;
    top:0;
    z-index:1;
  background: -webkit-linear-gradient(left, transparent , $color-base);
  background: -o-linear-gradient(right, transparent , $color-base);
  background: -moz-linear-gradient(right, transparent , $color-base);
  background: linear-gradient(to right, transparent , $color-base);
}

.lp-recent-items-shade-l {
     position:absolute;
    left:0;
    height:100%;
    width:20%;
    pointer-events:none;
    top:0;
    z-index:1;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0.2) , transparent);
  background: -o-linear-gradient(right, rgba(255,255,255,0.2) , transparent);
  background: -moz-linear-gradient(right, rgba(255,255,255,0.2) , transparent);
  background: linear-gradient(to right, rgba(255,255,255,0.2) , transparent);
}

.lp-recent-items-shade-r {
     position:absolute;
    right:0;
    height:100%;
    width:20%;
    pointer-events:none;
    top:0;
    z-index:1;
  background: -webkit-linear-gradient(left, transparent , rgba(255,255,255,0.2));
  background: -o-linear-gradient(right, transparent , rgba(255,255,255,0.2));
  background: -moz-linear-gradient(right, transparent , rgba(255,255,255,0.2));
  background: linear-gradient(to right, transparent , rgba(255,255,255,0.2));
}

.lp-recent-bg {
    position:absolute;
    top:-10%;
    height:110%;
    width:100%;
}

.top-nav-bot-ico {
    position:relative;
    top:8px;
    margin-right:6px;
    height:35px;
}

.top-nav-mobile {
    display:inline-block;
    float:right;
    cursor:pointer;
    padding:0 20px;

    img{
        position:relative;
        top:4px;
    }
}


@media (max-width: 52em) {
  .top-nav-links a:nth-of-type(2) {
    display: none;
  }
}

@media (max-width: 41em) {
  .top-nav-links a {
    display: none;
  }
}


