/**
 * Color Codes
 * Shapes
*/
$colorPrimary: #43f98c;
$colorAccent: #3ad1d7;
$colorBackground: #2f363c;


/**
 * Color Codes
 * Fonts
*/
$colorFontBody: #7c8e9b;
$colorFontLight: rgba(0,0,0, 0.45);
