/**
 * Color Codes
 * Shapes
*/
$colorPrimary: #6ae974;
$colorPrimaryDark: #58c761;
$colorAccent: #3ad1d7;
$colorAccentDark: #38b6b9;
$colorBackground: #2f363c;
$colorBackgroundDark: #272c31;
$colorBackgroundDarker: #20252a;
$colorSubtle: rgba(120, 132, 144, 0.4);

/**
 * Color Codes
 * Fonts
*/
$colorFontBody: #7c8e9b;
$colorFontLight: rgba(0,0,0, 0.45);
