@import "compass/reset";
@import "partials/variables";
@import "partials/mixins";


a {
    text-decoration: none !important;
    @include ease(0.15s);
}

a:hover {
    opacity:0.7;
}
em {
    color:$color-accent;
    font-weight: 600;
}

b{
    font-weight: 700;
}



.generic-header {
    text-align:center;
}
.generic-header {
    text-align: center;
}

.generic-header-headline {
    @include font-title($color-on-bg);
    font-size: 36px;
    text-transform: uppercase;
}

.generic-header-headline-container {
    padding: 180px 10vw 80px 10vw;
    position: relative;
}
.generic-content {
    background:white;
}

.main-content-wrapper {
    width:50%;
    margin:auto;
    padding-bottom:150px;

    h1{
        padding-top:90px;
        @include font-title($color-base);
    }

    h2{
        padding-top:90px;
        @include font-small-title($color-base);
        padding-bottom:20px;
    }

    span{
        display:inline-block;
        @include font-default($color-base);
        line-height:32px;
        font-size:18px;
        width:80%;
    }

    a{
        @include font-default($color-base);
        font-size:18px;
    }
}


footer {
    background:$color-base;
    text-align: center;
    padding:90px 0;
}


@media (max-width: 80em) {
  .main-content-wrapper {
  width:80%;
  }
}
